.big-img-modal {
  background: #ffffff;
  position: absolute;
  border-radius: 25px;
  width: 43%;
  padding-top: 28%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all .3s;

  @media (max-width: 1280px) {
    width: 53%;
    padding-top: 34%;
  }
  @media (max-width: 768px) {
    width: 65%;
    padding-top: 43%;
    border-radius: 10px;
  }

  &.big-img-modal_active {
    z-index: 99999;
    opacity: 1;
    visibility: visible;
  }

  img {
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
