.modal-create-letter {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 646px;
  max-height: 90vh;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 50px 85px 45px;
  transition: all .2s;

  opacity: 0;
  visibility: hidden;


  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  h2 {
    @include montserrat-semibold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 25px;
  }


  &__warning {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 16px;
    background-color: #F4F7FB;
    border-radius: 5px;

    svg {
      min-width: 18px;
      width: 18px;
      margin-right: 14px;
    }

    p {
      width: max-content;
      font-size: 14px;
      line-height: 17px;
      color: $link;
    }
  }

  &__input-title {
    margin-bottom: 9px;
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    color: #858584;
  }

  &__item-input {
    margin-bottom: 19px;

    &.flex {
      display: flex;

      .modal-create-letter__wrap {
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }


  &__dflex {
    display: flex;
    justify-content: space-between;

    .modal-create-letter__select-wrapper {
      width: 49%;
    }
  }

  &__input-wrapper {
    position: relative;

    &.invalid {
      input {
        background: #FEF2F2;

        &:focus {
          background: #FEF2F2;
          outline: 1px solid #BB1225;
        }
      }
    }
  }

  &__wrap {
    width: 173px;
  }

  &__input {
    background: #F2F1F7;
    border: none;
    width: 100%;
    height: 60px;
    padding: 0 40px 0 20px;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: $dark;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }

    &::placeholder {
      color: #817D8C;
    }
  }

  &__date-wrapper {
    width: 100%;
    position: relative;

    svg {
      pointer-events: none;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input-area {
    resize: none;
    height: 125px;
    padding-top: 20px;
  }

  &__area-desc {
    height: 250px;
  }

  &__attached-title {
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    color: #222220;
    margin-bottom: 21px;
  }

  &__attached-list {
    margin-bottom: 30px;
    width: 340px;

    li {
      margin-bottom: 15px;


      cursor: pointer;
      display: flex;
      align-items: center;
      color: #222220;

      a {
        color: #222220;
        margin-right: 5px;
      }

      span {
        color: #858584;
        margin-left: 5px;
        margin-right: 5px;
      }


      .modal-create-letter__attached-icon {
        margin-right: 11px;
        min-width: 18px;
      }

      .modal-create-letter__attached-delete-icon {
        margin-left: auto;
        min-width: 18px;
      }
    }
  }

  .file-upload {
    margin-bottom: 40px;
  }

  &__file-wrapper {
    position: relative;
    width: 100%;
    padding-left: 30px;

    &:hover {
      label {
        color: $link;

        svg path {
          fill: $link;
        }
      }
    }

    label {
      @include montserrat-medium;
      font-size: 17px;
      line-height: 21px;
      color: #A0A0A0;
      cursor: pointer;
      transition: all .3s;
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      path {
        transition: all .3s;
      }
    }
  }


  &__add-btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &__btns {

    .modal-create-letter__save-btn {
      border: none;
      background-color: #2F65F6;
      border-radius: 5px;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 0;
      width: 257px;
      margin-right: 35px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: #264DDB;
      }
    }

    .modal-create-letter__close-btn {
      background: none;
      border: none;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      color: #2F65F6;
      cursor: pointer;

      &:hover {
        color: #264DDB;
      }
    }
  }

  .choices {
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 10px;

    &.is-open {
      border: 1px solid #3E29CA;
    }
  }

  .choices__placeholder {
    opacity: 1;
  }

  .choices__inner {
    border: none;
    background: #F2F1F7;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #817D8C;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 12px;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #F8F8FA;
    color: #2F65F6;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    border: 1px solid #F2F1F7;
    filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
    margin-top: 10px;
  }

  &__sys-doc {
    margin-bottom: 40px;

    a {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #222220;
      position: relative;
      padding-left: 30px;
      display: block;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 21px;
        left: 0;
        top: -1px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.5 5.5C17.5 4.8 17.5 4 17.5 3.3C17.5 1.7 16.4 0.400006 14.9 0.100006C14.8 0.100006 14.7 0.1 14.6 0C12.4 0 9.7 0 7.2 0C5.7 0 4.3 0 3 0C2.9 0 2.8 6.10203e-06 2.7 0.100006H2.6C2.5 0.100006 2.3 0.199997 2.2 0.199997H2.1C2 0.299997 1.8 0.299994 1.7 0.399994C1.7 0.399994 1.6 0.4 1.6 0.5C1.5 0.6 1.3 0.700003 1.2 0.800003C0.599997 1.3 0.199998 1.9 0.0999985 2.7C0.0999985 2.9 0 3.19999 0 3.39999C0 5.69999 0 8.09999 0 10.4C0 12.7 0 15.1 0 17.4C0 17.6 -1.52737e-06 17.9 0.0999985 18.1C0.199998 18.8 0.599997 19.5 1.2 20C1.3 20.1 1.4 20.2 1.6 20.3C1.6 20.3 1.7 20.3 1.7 20.4C1.8 20.5 2 20.5 2.1 20.6H2.2C2.3 20.6 2.5 20.7 2.6 20.7H2.7C2.8 20.7 2.9 20.7 3 20.8C4.1 20.8 6.2 20.8 7.2 20.8C9.7 20.8 12.4 20.8 14.6 20.8C14.7 20.8 14.8 20.8 14.9 20.7C16.4 20.4 17.5 19.1 17.5 17.5C17.5 15.8 17.5 7.1 17.5 5.5ZM15.3 18.7C15 18.9 14.7 19 14.3 19C12 19 9.3 19 6.8 19C6.7 19 6.7 19 6.6 19C5.6 19 4.7 19 3.8 19C3.7 19 3.6 19 3.5 19C3.2 19 2.9 18.9 2.7 18.8C2.4 18.7 2.2 18.5 2 18.2L1.9 18.1C1.8 18 1.8 17.9 1.8 17.7V17.6C1.8 17.5 1.8 17.4 1.8 17.2C1.8 14.9 1.8 12.6 1.8 10.2C1.8 7.9 1.8 5.6 1.8 3.2C1.8 3.1 1.8 2.9 1.8 2.8V2.7C1.8 2.6 1.9 2.5 1.9 2.3C1.9 2.3 1.9 2.2 2 2.2C2.1 2 2.4 1.80001 2.7 1.60001C2.9 1.50001 3.2 1.39999 3.5 1.39999C3.6 1.39999 3.7 1.39999 3.8 1.39999C4.7 1.39999 5.7 1.39999 6.7 1.39999H6.8C9.4 1.39999 12.1 1.39999 14.4 1.39999C14.8 1.39999 15.1 1.5 15.4 1.7C15.9 2.1 16 2.50001 16 3.10001C16 4.00001 16 4.8 16 5.7C16 8 16 15.6 16 17.1C15.9 17.9 15.7 18.4 15.3 18.7Z' fill='%23CECECE'/%3e%3cpath d='M9.29688 4.80005C10.6969 4.80005 12.0969 4.80005 13.3969 4.80005C13.9969 4.80005 14.3969 5.40004 14.1969 5.90004C14.0969 6.20004 13.7969 6.40004 13.4969 6.40004C13.3969 6.40004 13.1969 6.40004 13.0969 6.40004C10.4969 6.40004 6.89688 6.40004 4.19688 6.40004C3.69688 6.40004 3.29688 6.00005 3.29688 5.60005C3.29688 5.10005 3.69688 4.80005 4.09688 4.80005C5.19688 4.80005 7.29688 4.80005 8.39688 4.80005C8.79688 4.80005 8.99687 4.80005 9.29688 4.80005Z' fill='%23CECECE'/%3e%3cpath d='M9.29823 9.70009C7.89823 9.70009 5.49823 9.70009 4.19823 9.70009C3.69823 9.70009 3.29824 9.30009 3.39824 8.80009C3.39824 8.40009 3.69824 8.2001 4.09824 8.1001H4.19823C6.89823 8.1001 10.6982 8.1001 13.3982 8.1001C13.8982 8.1001 14.1982 8.40009 14.2982 8.90009C14.2982 9.40009 13.9982 9.70009 13.4982 9.70009C12.4982 9.70009 11.5982 9.70009 10.5982 9.70009C10.0982 9.70009 9.69823 9.70009 9.29823 9.70009Z' fill='%23CECECE'/%3e%3cpath d='M9.29823 13.2001C7.89823 13.2001 5.49823 13.2001 4.19823 13.2001C3.69823 13.2001 3.29824 12.8001 3.39824 12.3001C3.39824 11.9001 3.69824 11.7001 4.09824 11.6001H4.19823C6.89823 11.6001 10.6982 11.6001 13.3982 11.6001C13.8982 11.6001 14.1982 11.9001 14.2982 12.4001C14.2982 12.9001 13.9982 13.2001 13.4982 13.2001C12.4982 13.2001 11.5982 13.2001 10.5982 13.2001C10.0982 13.2001 9.69823 13.2001 9.29823 13.2001Z' fill='%23CECECE'/%3e%3c/svg%3e ");
      }
    }

  }

}


@media (max-width: 768px) {

  .modal-create-letter {
    width: 90%;
    padding: 30px 25px 45px 25px;
  }

  .modal-create-letter h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 37px;
  }


  .modal-create-letter__input {
    padding: 0 15px 0 15px;
  }

  .modal-create-letter__input-area {
    padding-top: 15px;
  }

  .modal-create-letter__input::placeholder {
    font-size: 14px;
  }


  .modal-create-letter__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .modal-create-letter__btns .modal-create-letter__save-btn {
    margin-right: 0;
    margin-bottom: 15px;
    width: 255px;
  }
}

@media (max-width: 576px) {
  .modal-create-letter__dflex,
  .modal-create-letter__item-input.flex {
    flex-direction: column;
  }
  .modal-create-letter__dflex .modal-create-letter__select-wrapper {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .modal-create-letter__attached-list {
    width: 240px;
  }
}
