.custom-mult-select {
  .choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #2F65F6;
    border: 1px solid #3c6ff8;
    color: #fff;
    word-break: break-all;
    box-sizing: border-box;
  }

  .choices__input {
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #222220;
    background-color: transparent;
    min-width: 100%;
  }

  .choices__placeholder {
    display: none;
  }

  .choices__inner {
    padding: 16px 18px 10px;
  }

}
