.deal-submenu {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    @media (max-width: 1400px) {
      flex-direction: column;
    }

    .deals__btn {
      width: 190px;
      display: inline-block;
      padding: 10px 20px;
      background: #2F65F6;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      @media (max-width: 1400px) {
        margin: 20px 0 0 auto;
      }

      &:hover {
        background-color: #264DDB;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: 1280px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media (max-width: 400px) {
      flex-direction: column;

    }

  }

  &__item {

    &.deal-submenu_active {
      a {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }


    &:not(:first-child) {
      margin-left: 52px;
    }

    &:nth-child(n+1) {
      @media (max-width: 1280px) {
        margin-left: 0;

      }
    }

    @media (max-width: 1280px) {
      padding: 0 8px;
    }

    @media (max-width: 1024px) {
      margin-bottom: 15px;
    }


    a {
      @include montserrat-medium;
      font-size: 17px;
      line-height: 21px;
      color: #3e3e3d;
      display: flex;
      flex-wrap: nowrap;
      transition: all 0.3s;
      svg {
        margin-right: 5px;
        path {
          transition: all 0.3s;
        }
      }

      &:hover {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }

}
