.modal-document-preview {
  position: fixed;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  max-height: 85vh;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 50px 60px 50px;
  transition: all .2s;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: 1280px) {
    width: 96%;
  }

  @media (max-width: 1024px) {
    padding: 35px 30px 40px 30px;
  }


  opacity: 0;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  &__close-btn {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 19px;
    top: 18px;

    svg {
      pointer-events: none;
    }

    path {
      transition: all .3s;
    }

    &:hover {
      path {
        fill: $link;
      }
    }

  }

  h2 {
    @include montserrat-semibold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-bottom: 38px;

    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 40px;
    }

  }

  &__btn-create {
    width: max-content;
    height: 40px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 16px;
    color: $link;
    background: none;
    border: 1px solid $link;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    @media (max-width: 600px) {
      width: 100%;
      padding: 0 5px;
    }
  }

  &__main-btn {
    margin-bottom: 16px;
    padding: 10px 14px;
    border: 1px solid #2F65F6;
    color: #2F65F6;
    border-radius: 5px;
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;

    @media (max-width: 600px) {
      width: 100%;

    }

    svg {
      margin-right: 6px;
    }

    svg path {
      fill: #2F65F6;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &._btn-disabled {
      border: 1px solid #9A9A9A;
      color: #9A9A9A;
      cursor: default;

      svg path {
        fill: #9A9A9A;
      }
    }

    &._btn-active {
      background-color: #2F65F6;
      color: #ffffff;

      svg path {
        fill: #ffffff;
      }
    }

  }

  &__edit-btn {
    width: max-content;
  }

  &__btns-group {
    display: flex;


    @media (max-width: 600px) {
      flex-direction: column;
    }

  }

  &__content {
    padding: 0 0 0 31px;
    border-bottom: 32px solid #F2F1F7;
    border-right: 20px solid #F2F1F7;
    background-color: #F2F1F7;
    border-radius: 10px;
    max-height: 500px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    margin-bottom: 36px;
    position: relative;

    &::before {
      padding-left: 30px;
      padding-right: 30px;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 59px;
      background-color: #F2F1F7;
    }

  }

  &__content-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 5;
    display: flex;

    p {
      margin: auto;
      font-size: 28px;

    }
  }

  &__panel-btns {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1280px) {
      flex-direction: column;
    }
  }

  .choices {
    margin-bottom: 0;
    margin-right: 8px;
    min-width: 270px;
    color: #858584;

    @media (max-width: 660px) {
      margin-bottom: 15px;
      margin-right: 0;
    }

    @media (max-width: 400px) {
      min-width: 200px;
    }

    &[data-type*="select-one"]::after {
      border-color: #817D8C transparent transparent transparent;
    }

    &[data-type*="select-one"].is-open::after {
      border-color: transparent transparent #817D8C transparent;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background: rgba(#817D8C, 0.1);
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
      z-index: 10;
    }

    &__inner {
      border: none;
      border-radius: 5px;
      background-color: #F2F1F7;
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
    }

    &__placeholder {
      opacity: 1;
    }

  }


  &__panel-btns-right {
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }

    @media (max-width: 660px) {
      flex-direction: column;

      .modal-document-preview__main-btn {
        margin-right: 0;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      .modal-document-preview__main-btn.modal-document-preview__edit-btn {
        margin-top: 0;
      }

    }

  }
}
