.modal-document-sign {
  position: fixed;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 725px;
  max-height: 85vh;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 55px 60px 36px;
  transition: all .2s;

  opacity: 0;
  visibility: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  h2 {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
    @media (max-width: 576px) {
      line-height: 35px;
      font-size: 28px;
    }
  }

  h3 {
    margin-bottom: 18px;
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }


  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  &__close-btn {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 19px;
    top: 18px;

    svg {
      pointer-events: none;
    }

    path {
      transition: all .3s;
    }

    &:hover {
      path {
        fill: $link;
      }
    }
  }

  &__select-wrapper {
    max-width: 493px;
    margin-bottom: 22px;

    .choices__inner {
      min-height: 40px;
      height: 40px;
      background-color: #F2F1F7;
      padding: 4.5px 7.5px 3.75px;
    }
  }

  &__input {
    display: block;
    max-width: 195px;
    height: 40px;
    margin-bottom: 25px;
    padding: 10px 15px;
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    background-color: #F2F1F7;
    border: none;
  }

  &__date {
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 25px;
  }

  &__email-select-wrapper {
    max-width: 280px;
  }


  &__date-icon-wrapper {
    position: relative;
    display: inline-block;

    svg {
      position: absolute;
      right: 15px;
      top: 9px;
    }
  }

  &__label {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    color: #858584;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 25px;
    border-bottom: 2px dashed #C4C4C4;
    flex-wrap: wrap;
  }

  &__btn {
    width: max-content;
    margin-bottom: 15px;
    padding: 9px 15px;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    white-space: nowrap;
    background-color: $link;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @media (max-width: 420px) {
      white-space: normal;
      width: 100%;
    }
  }

  &__btn-doc-sign {
    margin-right: 5px;

    ._completed {
      display: none;
    }

  }

  &__cancel-sign {
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    color: #BC0D48;
    border: 1px solid #BC0D48;
    border-radius: 3px;
    width: 180px;
    transition: all .3s;
    padding: 6px 11px;
    background: none;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      background: #BC0D48;
    }
  }

  &__lastname {
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-right: 15px;
  }

  &__form-author-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__lastname-wrapper {
    margin-bottom: 20px;
  }


  &__btn-tag {
    display: block;

    ._completed {
      display: none;
    }
  }

  &__completed-info {
    display: none;

    .modal-document-sign__form-author-wrapper {
      margin-bottom: 20px;
    }
  }


  &__form-author {
    &._completed {
      .modal-document-sign__completed-info {
        display: block;
      }

      .modal-document-sign__select-wrapper {
        display: none;
      }

      .modal-document-sign__warning {
        display: none;
      }

      .modal-document-sign__author-info {
        display: none;
      }

      .modal-document-sign__btn-doc-sign {
        padding-left: 30px;
        background-color: #AEB7CF;
        pointer-events: none;
        position: relative;
        display: block;

        ._not-completed {
          display: none;
        }

        ._completed {
          display: inline;
        }


        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7.46665C1.4 9.0222 3.42222 11.9778 4.66667 14C7.46667 8.86667 10.4222 4.66669 13.5334 1.08891L12.6 0C10.1111 2.64444 6.84444 7.00002 4.66667 10.4222C3.57778 9.02224 2.48891 7.77774 1.08891 6.37774L0 7.46665Z' fill='white'/%3e%3c/svg%3e");
          width: 14px;
          height: 18px;
          position: absolute;
          left: 13px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

    }

    .modal-document-sign__variant {
      display: none;
    }

    &[data-variant-state="turn"] {
      .modal-document-sign__variant[data-variant="turn"] {
        display: block;
      }
    }

    &[data-variant-state="director"] {
      .modal-document-sign__variant[data-variant="director"] {
        display: block;
      }
    }

  }

  &__email-wrapper {
    display: flex;
    align-items: flex-end;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .modal-document-sign__select-wrapper {
      margin-bottom: 25px;
      width: 100%;
      margin-left: 20px;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }

  &__client-info {

    .modal-document-sign__date {
      display: none;
    }

    &._completed {
      .modal-document-sign__input,
      .modal-document-sign__warning,
      svg {
        display: none;
      }

      .modal-document-sign__date {
        margin-top: -20px;
        display: block;
      }

      .modal-document-sign__btn-tag {
        padding-left: 32px;
        background-color: #AEB7CF;
        pointer-events: none;
        position: relative;

        ._not-completed {
          display: none;
        }

        ._completed {
          display: inline;
        }

        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 7.46665C1.4 9.0222 3.42222 11.9778 4.66667 14C7.46667 8.86667 10.4222 4.66669 13.5334 1.08891L12.6 0C10.1111 2.64444 6.84444 7.00002 4.66667 10.4222C3.57778 9.02224 2.48891 7.77774 1.08891 6.37774L0 7.46665Z' fill='white'/%3e%3c/svg%3e");
          width: 14px;
          height: 18px;
          position: absolute;
          left: 13px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__warning {
    max-width: 575px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 16px;
    background-color: #F4F7FB;
    border-radius: 5px;

    svg {
      min-width: 18px;
      width: 18px;
      margin-right: 14px;
    }

    p {
      width: max-content;
      font-size: 14px;
      line-height: 17px;
      color: $link;
    }
  }


  &__list-wrapper {
    margin-bottom: 25px;
  }

  &__list-item {
    position: relative;

    .modal-document-sign__delete-btn {
      position: absolute;
      right: -30px;
      top: 35px;
      cursor: pointer;
      border: none;
      background: none;

      svg path {
        transition: all .3s;
      }

      &:hover {
        svg path {
          fill: #2F65F6;
        }
      }

    }
  }

  &__list-add {
    background: none;
    border: none;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #A0A0A0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;

    svg {
      margin-right: 6px;

      path {
        transition: all .3s;
      }
    }

    &:hover {
      color: #2F65F6;

      svg path {
        fill: #2F65F6;
      }
    }

  }


  @media (max-width: 992px) {
    width: 98%;
    padding: 50px 20px;
  }
}

.page-deals {
  .air-datepicker--pointer {
    display: none;
  }


}


//модалка на странице подписания по очереди


.modal-document-turn-sign {

  @media (max-width: 570px) {
    padding-right: 40px;
  }

  &__list-wrapper {
    margin-bottom: 25px;
  }

  &__list-item {
    position: relative;

    .modal-document-turn-sign__delete-btn {
      position: absolute;
      right: -30px;
      top: 35px;
      cursor: pointer;
      border: none;
      background: none;

      svg path {
        transition: all .3s;
      }

      &:hover {
        svg path {
          fill: #2F65F6;
        }
      }

    }
  }

  &__list-add {
    background: none;
    border: none;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #A0A0A0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s;

    svg {
      margin-right: 6px;

      path {
        transition: all .3s;
      }
    }

    &:hover {
      color: #2F65F6;

      svg path {
        fill: #2F65F6;
      }
    }

  }

}
