.modal-document-send {
  position: fixed;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 930px;
  max-height: 85vh;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 50px 60px 50px;
  transition: all .2s;

  opacity: 0;
  visibility: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }


  h2 {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
    @media (max-width: 576px) {
      font-size: 28px;
    }
  }

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  &__close-btn {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 10px;
    top: 10px;

    svg {
      pointer-events: none;
    }

    path {
      transition: all .3s;
    }

    &:hover {
      path {
        fill: $link;
      }
    }
  }

  &__information {
    padding-top: 28px;
    border-top: 2px dashed #C4C4C4;

    h3 {
      color: #000000;

      span {
        font-weight: 400;
      }
      @media (max-width: 992px) {
        margin-bottom: 15px;
      }
    }
  }

  .choices__list--single .choices__item {
    line-height: 16px;
  }

  &__cell {
    font-size: 14px;
    line-height: 17px;

    &:nth-child(1) {
      min-width: 140px;
      width: 140px;
    }

    &:nth-child(2) {
      min-width: 215px;
      width: 215px;
      word-break: break-word;
    }

    &:nth-child(3) {
      min-width: 225px;
      width: 225px;
      word-break: break-word;
    }

    &:nth-child(4) {
      min-width: 101px;
      width: 101px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  &__list {
    .modal-document-send__cell {
      margin-bottom: 15px;

      &:not(:last-child) {
        margin-right: 10px;
      }

    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 50px 2px 0;
      color: #000000;

      &:nth-child(even) {
        background-color: #F7F8FA;
      }

      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &.modal-document-send__list-title{
        @media (max-width: 992px) {
          display: none;
        }

      }
    }

  }

  &__list-title {

    p {
      font-size: 14px;
      line-height: 17px;
      color: #858584;
    }

  }

  &__btn-create {
    height: 40px;
    margin-bottom: 32px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    color: $link;
    background: none;
    border: 1px solid $link;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }


  @media (max-width: 992px) {
    width: 98%;
    padding: 50px 20px;
  }
}

