.header {

  &__title-wrapper {
    display: flex;
    align-items: flex-end;

    @media (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__deals-link {
    display: none;
    margin-left: 23px;
    align-items: center;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 5px;

    &._active {
      display: flex;
    }

    @media (max-width: 450px) {
      margin-left: 0;
    }

    svg {
      margin-left: 5px;
    }
  }

  &.deal-link_active {
    .header__deals-link {
      display: flex;
    }
  }


  &.bottom-menu_disabled .header__bottom-container {
    display: none;
  }

  &__bg-wrapper {
    background: linear-gradient(90deg, #5141b3 0%, #484bbd 35.77%, #2f64d8 96.83%, #2e66da 100%);
    padding: 30px 0 15px 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__nav-burger {
    position: relative;
    width: 25px;
    height: 15px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 25;
    display: none;

    span, span::before, span::after {
      position: absolute;
      left: 0;
      border-radius: 2px;
      background: #FFFFFF;
      width: 100%;
      height: 2px;
    }

    span {
      top: 50%;
      transform: translateY(-50%);

      &::before {
        content: '';
        top: -7px;
      }

      &::after {
        content: '';
        bottom: -7px;
      }
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: 37%;
  }

  &__nav-list li {
    cursor: pointer;
    position: relative;

    &:hover {
      .header__dropdown-menu {
        z-index: 22;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__nav-list li:not(:last-child) {
    margin-right: 15px;
  }

  &__nav-list a {
    font-size: 17px;
    line-height: 21px;
    color: rgba(#ffffff, 0.8);
    display: flex;
    align-items: center;
    transition: all 0.3s;

    svg {
      margin-right: 5px;
    }

    &:hover {
      color: #ffffff;
    }

    &:hover svg {
      fill: #ffffff;
    }
  }

  &__dropdown-menu {
    background: linear-gradient(90deg, #5141b3 0%, #484bbd 35.77%, #2f64d8 96.83%, #2e66da 100%);
    border-radius: 5px;
    padding: 9px 26px 25px 26px;
    position: absolute;
    filter: drop-shadow(0px 0px 24px rgba(3, 0, 135, 0.4));
    top: 35px;
    left: 0;
    width: 247px;
    height: auto;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      height: 15px;
      background-color: transparent;
      width: 100%;
    }

    li {
      &:not(:last-child) {
        margin-right: 0;
      }

      a {
        @include montserrat-regular;
        font-size: 17px;
        line-height: 44px;
        color: #ffffff;
      }

      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  &__nav-personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;

    a {
      color: rgba(#ffffff, 0.8);
      font-size: 17px;
      line-height: 21px;
    }

    .account {
      &__group {
        position: relative;
        display: flex;
        align-items: center;

        svg {
          min-width: 31px;
          width: 31px;
          margin-left: 15px;
          z-index: 21;
        }

        &:hover {
          .account__dropdown-menu {
            z-index: 20;
            opacity: 1;
            visibility: visible;
          }
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__link {
        max-width: 125px;
        height: 21px;
        overflow: hidden;
        z-index: 21;
      }

      &__dropdown-menu {
        background: linear-gradient(90deg, #5141b3 0%, #484bbd 35.77%, #2f64d8 96.83%, #2e66da 100%);
        border-radius: 5px;
        padding: 45px 0 25px 20px;
        position: absolute;
        filter: drop-shadow(0px 0px 24px rgba(3, 0, 135, 0.4));
        top: -20px;
        left: -20px;
        width: 200px;
        min-height: 160px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        overflow-x: hidden;
        transition: all 0.3s;

        li {
          padding-top: 20px;

          &:last-child {
            margin-top: 20px;
          }
        }

        a {
          display: block;
          width: 100%;
        }

        button {
          color: rgba(255, 255, 255, 0.8);
          border: none;
          background-color: transparent;
          cursor: pointer;


          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
  }

  &__bottom-container {
    padding: 28px 15px;
  }

  &__bottom-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72%;
    flex-wrap: wrap;

    li {
      &.bottom-menu-item_active {
        a {
          color: #2f65f6;

          svg {
            path {
              fill: #2f65f6;
            }
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      font-size: 17px;
      line-height: 21px;
      color: #3e3e3d;

      svg {
        margin-right: 5px;
      }
    }
  }

  .header-menu {
    &__link {
      color: #817d8c;
      font-size: 17px;
      line-height: 21px;
      position: relative;
      transition: all 0.3s;

      svg {
        path {
          transition: all 0.3s;
        }
      }

      &:hover {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .header__nav-personal .account__dropdown-menu {
    left: -25px;
    width: 247px;
    padding: 45px 0 25px 26px;
  }
}

@media (max-width: 1280px) {
  .header__bottom-menu {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .header a,
  .header__nav-personal .account__dropdown-menu button {
    font-size: 14px;
  }

  .header__nav-personal {
    width: 345px;
  }
  .header__nav-personal .account__dropdown-menu {
    width: 180px;
  }
  .header__nav-personal .account__dropdown-menu li:last-child {
    margin-top: 10px;
  }
  .header__nav-personal .account__link {
    width: 105px;
  }
  .header {
    .header-menu {
      &__link {
        font-size: 14px;
      }
    }
  }

  .header__bottom-menu a svg {
    width: 19px;
    height: 19px;
  }

}

@media (max-width: 768px) {
  .header__bottom-container {
    padding: 28px 20px;
  }

  .header__nav {
    margin-bottom: 20px;
  }

  .header__nav-personal {
    justify-content: flex-end;
    width: 50px;
  }

  .header__nav-burger {
    display: block;
  }

  .header__nav-list {
    position: fixed;
    flex-direction: column;
    background: linear-gradient(90deg, #5141b3 0%, #484bbd 35.77%, #2f64d8 96.83%, #2e66da 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-left: 20px;
    z-index: 20;
    transform: translateX(-200%);
    opacity: 0;
    transition: all 0.3s;

    &._active {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .header__nav-list a {
    font-size: 22px;
  }

  .header__nav-doc {
    display: none;
  }

  .header__nav-list li:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .header__dropdown-menu li:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__title {
    font-size: 25px;
    text-align: center;
  }

  .header__bottom-menu {
    flex-direction: column;
  }

  .header__bottom-menu li:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
  }


}
