.main-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;

  button {
    border: none;
    cursor: pointer;
    background: none;

    display: flex;
    align-items: center;

    &._active {
      svg path {
        fill: #2F65F6;
      }
    }


    svg path {
      transition: all .3s;
    }

    &:hover {
      svg path {
        fill: #2F65F6;
      }
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  .choices {
    min-width: 265px;
    width: 265px;

    .choices__list--single {
      padding: 4px 16px 4px 4px;
    }

  }


}
