.modal-fullname {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 85px 50px 45px;
  opacity: 0;
  transition: all .2s;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  h2 {
    @include montserrat-semibold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-bottom: 35px;
  }

  &__item {
    margin-bottom: 33px;
  }


  &__form-title {
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 7px;
  }

  .error-message {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #BB1225;
    padding-top: 5px;
    opacity: 0;
    transition: all .2s;
    margin-bottom: 20px;

    &._active {
      opacity: 1;
    }
  }

  &__input-list {
    display: flex;
    justify-content: space-between;
  }

  &__item-input {
    width: 32%;
  }

  &__input-title {
    margin-bottom: 8px;
  }

  &__input-wrapper {
    position: relative;

    &.invalid {
      input {
        background: #FEF2F2;

        &:focus {
          background: #FEF2F2;
          outline: 1px solid #BB1225;
        }
      }
    }
  }

  &__input {
    background: #F2F1F7;
    border: none;
    width: 100%;
    height: 60px;
    padding: 0 40px 0 20px;
    @include montserrat-medium;
    font-size: 20px;
    line-height: 24px;
    color: $dark;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }

    &_active {
      padding-top: 20px;
    }

    &_active ~ .modal-fullname__label {
      top: 13px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    @include montserrat-medium;
    font-size: 20px;
    line-height: 24px;
    color: #817D8C;
  }

  &__btns {
    margin-top: 40px;
  }

  &__save-btn {
    border: none;
    background-color: #2F65F6;
    border-radius: 15px;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 53px;
    margin-right: 35px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #264DDB;
    }
  }

  &__close-btn {
    background: none;
    border: none;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #2F65F6;
    cursor: pointer;

    &:hover {
      color: #264DDB;
    }
  }
}

.modal-socials {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 35px 50px 45px;
  opacity: 0;
  transition: all .2s;
  visibility: hidden;

  &._active {
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }

  h2 {
    @include montserrat-semibold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-bottom: 37px;
  }

  .socials-list {

    &__item {
      margin-bottom: 17px;
      width: 100%;
    }

    &__item-title {
      @include montserrat-semibold;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
      margin-bottom: 12px;
    }

    &__inputs-wrapper {
      position: relative;
      display: flex;
      width: 100%;
    }

    &__address-link {
      height: 60px;
      border: 1px solid #F2F1F7;
      background: #F2F1F7;
      @include montserrat-medium;
      font-size: 20px;
      line-height: 24px;
      padding: 0 15px;
      width: 66%;
      color: #817D8C;

      &:focus {
        outline: none;
        border: 1px solid #3E29CA;
      }
    }

    &__delete-btn {
      position: absolute;
      top: 38%;
      transform: translateY(-50%);
      right: -20px;
      border: none;
      background: none;
      cursor: pointer;

      svg {
        pointer-events: none;
      }

      svg path {
        transition: all .3s;
      }

      &:hover svg path {
        fill: #BB1225;
      }
    }

    //Стилизация селекта

    .choices {
      width: 304px;
      border: 1px solid transparent;
      margin-right: 13px;

      &.is-open {
        border: 1px solid #3E29CA;
      }
    }

    .choices__item {
      @include montserrat-medium;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
    }

    .choices__inner {
      border: none;
      background: #F2F1F7;
    }

    .choices[data-type*=select-one] .choices__inner {
      padding-bottom: 14px;
      padding-top: 14px;
      padding-left: 12px;
    }

    .choices[data-type*=select-one]::after {
      opacity: 0.7;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background-color: #F8F8FA;
      color: #2F65F6;
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
      border: 1px solid #F2F1F7;
      filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
      margin-top: 10px;
    }
  }

  &__add-btn {
    border: none;
    background-color: transparent;
    @include montserrat-medium;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 68px;

    &:hover {
      color: #2F65F6;
    }

    &:hover svg path {
      fill: #2F65F6;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      path {
        transition: all .3s;
      }
    }
  }

  &__save-btn {
    border: none;
    background-color: #2F65F6;
    border-radius: 15px;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 53px;
    margin-right: 35px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #264DDB;
    }
  }

  &__close-btn {
    background: none;
    border: none;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #2F65F6;
    cursor: pointer;

    &:hover {
      color: #264DDB;
    }
  }

}

.page-doc__inner {

  .passport-modal {
    position: absolute;
    overflow-x: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 58%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px 85px 70px 45px;
    opacity: 0;
    transition: all .2s;
    visibility: hidden;

    &__item:not(:last-child) {
      margin-bottom: 42px;
    }

    &._active {
      opacity: 1;
      z-index: 999;
      visibility: visible;
    }

    h2 {
      @include montserrat-semibold;
      font-size: 38px;
      line-height: 46px;
      color: #000000;
      margin-bottom: 35px;
    }

    &__item-inner {
      display: flex;
      justify-content: space-between;
    }

    &__item-title {
      @include montserrat-semibold;
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 12px;
    }

    &__input-wrapper {
      position: relative;

      svg {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.invalid {
        input {
          background: #FEF2F2;

          &:focus {
            background: #FEF2F2;
            outline: 1px solid #BB1225;
          }
        }
      }
    }


    &__item-inputs {
      margin-right: 13px;
    }

    &__input {
      width: 304px;
      background: #F2F1F7;
      border: none;
      height: 60px;
      padding: 17px 13px;
      @include montserrat-medium;
      font-size: 20px;
      line-height: 24px;
      color: $dark;

      &:focus {
        outline: 1px solid #3E29CA;
        background-color: #ffffff;
      }

      &_active {
        padding-top: 20px;
      }

      &_active ~ .passport-modal__label {
        top: 13px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
      }
    }

    &__item-input:not(:last-child) {
      margin-bottom: 14px;
    }

    &__label {
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease all;
      @include montserrat-medium;
      font-size: 20px;
      line-height: 24px;
      color: #817D8C;
    }


    &__item-textarea {
      width: 100%;
      resize: none;
      border: none;
      background: #F2F1F7;
      @include montserrat-medium;
      font-size: 20px;
      line-height: 24px;
      color: $dark;
      padding: 18px;

      &::placeholder {
        color: #817D8C;
      }

      &:focus {
        outline: 1px solid #3E29CA;
        background-color: #ffffff;
      }
    }

    &__item-code {
      margin-top: 14px;

      .passport-modal__input {
        width: 100%;
      }

      .passport-modal__item-input {
        width: 49.3%;
      }
    }

    &__item-check.passport-modal__item-check_disabled {
      display: none;
    }


    &__type-reg {
      margin-top: 23px;
      margin-bottom: 20px;

      label {
        margin-right: 35px;
      }
    }

    &__reg-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
        @include montserrat-regular;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }

      & + label::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid #2F65F6;
        border-radius: 50%;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px 15px;
      }

      &:checked + label::before {
        background-image: url("../img/check-mark.svg");
      }
    }


    &__control-btns {
      margin-top: 70px;
    }

    &__save-btn {
      border: none;
      background-color: #2F65F6;
      border-radius: 15px;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 53px;
      margin-right: 35px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: #264DDB;
      }
    }

    &__close-btn {
      background: none;
      border: none;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      color: #2F65F6;
      cursor: pointer;

      &:hover {
        color: #264DDB;
      }
    }

  }
}

.modal-requisites {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 85px 50px 45px;
  opacity: 0;
  transition: all .2s;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  h2 {
    @include montserrat-semibold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-bottom: 35px;
  }

  &__item {
    margin-bottom: 50px;
  }


  &__form-title {
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 7px;
  }


  &__input-list {
    display: flex;
    justify-content: space-between;
  }

  &__item-input {
    width: 32%;
  }

  &__input-title {
    margin-bottom: 8px;
  }

  &__input-wrapper {
    position: relative;

    &.invalid {
      input {
        background: #FEF2F2;

        &:focus {
          background: #FEF2F2;
          outline: 1px solid #BB1225;
        }
      }
    }
  }

  &__input {
    background: #F2F1F7;
    border: none;
    width: 100%;
    height: 60px;
    padding: 0 40px 0 20px;
    @include montserrat-medium;
    font-size: 20px;
    line-height: 24px;
    color: $dark;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }

    &_active {
      padding-top: 20px;
    }

    &_active ~ .modal-requisites__label {
      top: 13px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    @include montserrat-medium;
    font-size: 20px;
    line-height: 24px;
    color: #817D8C;
  }

  .requisites-bank {

    .modal-requisites__item-input {
      width: 48%;
    }
  }

  .requisites-identification {

    .modal-requisites__item-input {
      width: 48%;
    }
  }


  &__btns {
    margin-top: 40px;
  }

  &__save-btn {
    border: none;
    background-color: #2F65F6;
    border-radius: 15px;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 53px;
    margin-right: 35px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #264DDB;
    }
  }

  &__close-btn {
    background: none;
    border: none;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #2F65F6;
    cursor: pointer;

    &:hover {
      color: #264DDB;
    }
  }
}

.new-contact {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 20px;
  padding: 46px 50px 55px 45px;
  width: 646px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &._active {
    z-index: 999;
    opacity: 1;
    visibility: visible;
  }

  &__title {
    @include montserrat-semibold;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 38px;
  }

  &__list {
    margin-bottom: 15px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    .choices {
      &.is-focused {
        outline: 1px solid #3E29CA;
      }

      &__inner {
        @include montserrat-medium;
        font-size: 17px;
        line-height: 21px;
        color: #817D8C;
        border: none;
        background: #F2F1F7;
        padding: 16px 15px !important;
      }

      &__placeholder {
        opacity: 1;
      }

      .choices__list--dropdown, .choices__list[aria-expanded] {
        margin-top: 1px;
      }
    }
  }

  &__input-title {
    color: #858584;
    margin-bottom: 5px;
  }

  &__input {
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    background: #F2F1F7;
    border: none;
    padding: 20px 15px;
    width: 100%;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }

    &::placeholder {
      color: #817D8C;
    }
  }

  &__desc {
    resize: none;
    height: 250px;
  }

  &__text {
    @include montserrat-light;
    font-size: 14px;
    line-height: 17px;
    color: #585757;
    margin-bottom: 15px;
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-top: 40px;

  }

  &__create-btn {
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    transition: all .3s;
    background: #2F65F6;
    border-radius: 5px;
    padding: 18px 30px;
    margin-right: 27px;

    &:hover {
      background: #264DDB;
    }
  }

  &__close-btn {
    background: none;
    border: none;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #2F65F6;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: #264DDB;
    }
  }

}

.modal-connect-leader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 880px;
  height: auto;
  padding: 50px 140px 75px 34px;
  background-color: #FFFFFF;
  border-radius: 5px;
  opacity: 0;
  transition: all .2s;
  visibility: hidden;

  @media (max-width: 1024px) {
    width: 650px;
    padding: 30px 30px 60px 30px;
  }

  @media (max-width: 768px) {
    width: 320px;
    padding: 20px 20px 50px 20px;
  }

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  &__btn {
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #2F65F6;
    border-radius: 5px;
    padding: 18px 25px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    width: 350px;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
      padding: 16px 20px;
      width: 278px;
    }

    &:hover {
      background-color: #264DDB;
    }
  }

  h2 {
    @include montserrat-semibold;
    font-size: 38px;
    line-height: 46px;
    color: #000000;
    margin-bottom: 40px;
    @media (max-width: 768px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  p {
    @include montserrat-light;
    font-size: 16px;
    line-height: 22px;
    color: #585757;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__input-wrapper {
    width: 640px;

    position: relative;

    svg {
      position: absolute;
      cursor: pointer;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);

      path {
        transition: all .3s;
      }

      &:hover {
        .modal-connect-leader__svg-bg {
          fill: $link;
        }

        .modal-connect-leader__svg-icon {
          fill: #ffffff;
        }
      }

      @media (max-width: 768px) {
        right: 5px;
      }
    }


    @media (max-width: 1024px) {
      width: 500px;
    }
    @media (max-width: 768px) {
      width: 278px;
    }
  }

  &__input {
    outline: none;
    @include montserrat-medium;
    font-size: 20px;
    line-height: 24px;
    background: #F2F1F7;
    width: 100%;
    border: none;
    padding: 17px 45px 17px 17px;
    color: #000000;

    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      padding-right: 30px;
    }

    &::placeholder {
      color: #817D8C;
    }
  }

  &__connect-btn {
    margin-bottom: 90px;
    position: relative;
    margin-top: 30px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }


    &::after {
      content: '';
      position: absolute;
      width: 700px;
      height: 1px;
      background-color: #D8D8D8;
      bottom: -50px;
      left: 0;
      @media (max-width: 1024px) {
        width: 550px;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }


}
