.open-deal {
  position: fixed;
  max-height: 85vh;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 47px 52px 60px 44px;
  transition: all .2s;

  opacity: 0;
  visibility: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  h2 {
    @include montserrat-semibold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 24px;
    @media (max-width: 576px) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__item {
    margin-bottom: 24px;

    &.col-1 {
      width: 40%;
      margin-right: 35px;
      @media (max-width: 768px) {
       width: 100%;
      }
    }

    &.col-2 {
      width: 55%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__label {
    margin-bottom: 7px;
    color: #858584;
  }

  &__description {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
  }

  &__select-wrapper {
    margin-bottom: 25px;

    .choices__inner {
      min-height: unset;
      height: 60px;
    }

    .choices__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      color: #817D8C;
      background: #F2F1F7;
    }
  }

  &__textarea-wrapper {
    margin-bottom: 23px;

    textarea {
      width: 100%;
      height: 150px;
      border: none;
      background-color: #F2F1F7;

      &:focus-visible {
        outline: 1px solid $link;
      }
    }
  }

  &__row {
    display: flex;
    @media (max-width: 768px) {
     flex-direction: column;
    }
  }

  &__warning {
    margin-bottom: 30px;
    padding: 17px 14px 21px 15px;
    background-color: #F4F7FB;
    border-radius: 5px;
  }

  &__warning-title {
    display: flex;
    margin-bottom: 10px;

    p {
      font-weight: 500;
      color: #222220;
    }

    svg {
      min-width: 18px;
      width: 18px;
      margin-right: 8px;
    }
  }

  &__warning-list {
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__btn {
    padding: 17px 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background-color: $link;
    color: #FFFFFF;
    border: 1px solid $link;
    border-radius: 5px;
    cursor: pointer;
  }

  &__btn-cancel {
    background: none;
    border-color: transparent;
    color: $link;
  }

  @media (max-width: 768px) {
    max-width: 94%;
    padding-right: 20px;
    padding-left: 20px;
  }

}




