.organization-item-submenu {

  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;

    @media (max-width: 1400px) {
      flex-direction: column;
    }

  }

  &__list {
    display: flex;
    align-items: center;

    @media (max-width: 1280px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media (max-width: 400px) {
      flex-direction: column;

    }

  }

  &__item {
    &:not(:first-child) {
      margin-left: 52px;
    }

    &:nth-child(n+1) {
      @media (max-width: 1280px) {
        margin-left: 0;

      }
    }

    @media (max-width: 1280px) {
      padding: 0 8px;
    }

    @media (max-width: 1024px) {
      margin-bottom: 15px;
    }


    a {
      @include montserrat-medium;
      font-size: 17px;
      line-height: 21px;
      color: #3e3e3d;
      display: flex;
      flex-wrap: nowrap;

      svg {
        margin-right: 5px;
      }

      &:hover {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }

  // активный пункт меню

  &.active-organization_info {
    .organization-item-submenu__item-info {
      a {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }

  &.active-organization_services {
    .organization-item-submenu__item-services {
      a {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }

  &.active-organization_balance {
    .organization-item-submenu__item-balance {
      a {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }

  &.active-organization_worker {
    .organization-item-submenu__item-worker {
      a {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }

  &.active-organization_journal {
    .organization-item-submenu__item-journal {
      a {
        color: #2f65f6;

        svg {
          path {
            fill: #2f65f6;
          }
        }
      }
    }
  }
}
