.all-documents {
  .container {
    padding-top: 33px;
    padding-bottom: 150px;
  }

  &__title {
    padding-bottom: 11px;
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }

  &__filter-links {
    padding: 5px 0 13px;
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: block;
    margin: 10px 24px 0 0;
    line-height: 20px;
    background-color: #ffffff;
    border-bottom: 2px dotted #2F65F6;
    color: #2F65F6;
    cursor: pointer;

    &.active {
      font-weight: 600;
      border-color: transparent;
      pointer-events: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper-block {
    width: 49%;
    margin-top: 20px;
  }

  &__link-add {
    min-width: 190px;
    max-width: 203px;
    height: 40px;
    margin: 13px 0 0;
    color: #2F65F6;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #2F65F6;
    @include montserrat-medium;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: #264DDB;
      color: #ffffff;
    }
  }

  &__block {
    padding: 15px 12px 15px;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
  }

  &__block-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-sort {
    margin-right: 10px;
  }

  &__subtitle {
    margin-right: 20px;
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  &__select-wrap {
    width: 205px;

    .choices__placeholder {
      font-size: 16px;
      color: #858584;
      opacity: 1;
    }

    .choices[data-type*="select-one"]::after {
      border-width: 7px;
      border-color: #817d8c transparent transparent transparent;
    }

    .choices {
      width: 100%;

      border: 1px solid transparent;

      &.is-open {
        border: 1px solid #3e29ca;
        border-radius: 5px;
      }
    }

    .choices[data-type*="select-one"].is-open::after {
      margin-top: -2px;
    }

    .choices__inner {
      min-height: auto;
      height: 40px;
      padding: 0 7.5px 0;
      font-size: 17px;
      line-height: 32px;
      color: #858584;
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
    }

    .choices__list[aria-expanded] .choices__item {
      font-size: 16px;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background: #f8f8fa;
      border-radius: 5px;
    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable {
      color: #2f65f6;
    }

    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      border: 1px solid #f8f8fa;
      filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
      margin-top: 10px;
    }
  }


  .templates__list {
    li {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__list,
  .list {
    padding-top: 15px;

    li {
      display: flex;
      padding: 11px 13px 12px 17px;
      background: #F7F8FA;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__subtitle {
      width: 25%;

      p {
        line-height: 20px;
        color: #858584;
        white-space: nowrap;

        &:first-child {
          margin-bottom: 5px;
          color: black;
        }
      }
    }

    &__title {
      padding-right: 10px;
      margin-left: 2px;
      width: 44%;
      word-break: break-word;

      a {
        line-height: 20px;
        color: #2F65F6;
        display: block;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .all-documents__list-controllers {
        a {
          margin-bottom: 0;
        }
      }

      p {
        line-height: 20px;
        color: #858584;
      }
    }

     &__status-doc {
      cursor: pointer;
      border: none;
      background: none;
      height: 18px;
      width: 8%;
      margin-right: 5px;
    }

    &__edit {
      display: block;
      margin: 0 0 0 10px;
      width: 18px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &._pen {
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.101562 16.2C0.201563 15.9 0.301611 15.5 0.401611 15.2C0.601611 14.3 0.901563 13.2999 1.10156 12.3999C1.10156 12.2999 1.20157 12.1999 1.30157 12.0999C4.20157 9.19994 7.10159 6.29993 10.0016 3.39993L10.1016 3.29993C11.2016 4.39993 12.4016 5.59995 13.5016 6.69995L13.4016 6.79993C10.5016 9.69993 7.70157 12.4999 4.80157 15.3999C4.70157 15.4999 4.60159 15.5999 4.50159 15.5999C3.30159 15.8999 2.00157 16.1999 0.801575 16.4999H0.701599C0.601599 16.4999 0.601587 16.4999 0.501587 16.4999C0.401587 16.3999 0.301599 16.3 0.201599 16.2C0.101599 16.3 0.101562 16.3 0.101562 16.2Z' fill='%239A9A9A'/%3e%3cpath d='M16.2016 3.59998C16.2016 3.69998 16.2016 3.79996 16.1016 3.89996C16.0016 4.09996 15.9016 4.39997 15.8016 4.49997C15.4016 4.89997 14.9016 5.39996 14.5016 5.79996C13.4016 4.69996 12.2016 3.49996 11.1016 2.39996C11.5016 1.99996 11.9016 1.49998 12.4016 1.09998C13.0016 0.599976 14.0016 0.599976 14.6016 1.09998C15.0016 1.49998 15.4016 1.89996 15.8016 2.29996C16.0016 2.49996 16.1016 2.89998 16.2016 3.19998C16.2016 3.29998 16.2016 3.49998 16.2016 3.59998Z' fill='%239A9A9A'/%3e%3c/svg%3e ") no-repeat;
      }

      &._lock {
        pointer-events: none;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='19' viewBox='0 0 15 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.8337 13.8727C6.8337 13.7602 6.8281 13.6477 6.8337 13.5353C6.84491 13.226 6.81688 12.9729 6.57022 12.7086C6.11615 12.2306 6.22826 11.4659 6.7384 11.0385C7.23733 10.6168 7.99412 10.6786 8.42017 11.1735C8.85183 11.6683 8.81819 12.4162 8.33048 12.8605C8.22397 12.9617 8.17912 13.0517 8.17912 13.1979C8.19033 13.659 8.18472 14.1257 8.18472 14.5868C8.18472 14.9973 7.89882 15.301 7.52323 15.3122C7.14203 15.3178 6.84491 15.0086 6.83931 14.5868C6.8337 14.3506 6.8337 14.1088 6.8337 13.8727Z' fill='%239A9A9A'/%3e%3cpath d='M14.9958 8.65992C14.9958 8.47997 14.9958 8.2944 14.9622 8.11446C14.7435 6.88857 13.8298 6.02258 12.6245 5.87075V5.10036C12.6245 2.28869 10.3429 0 7.53994 0H7.45585C4.6529 0 2.3713 2.28869 2.3713 5.10036V5.86513C2.30963 5.87075 2.25357 5.882 2.19751 5.89324C0.885733 6.14629 0.0112118 7.2316 0.0056059 8.59806C0 10.9711 0 13.3498 0 15.7228C0 15.8915 0.00560591 16.0602 0.0336354 16.2289C0.280295 17.5841 1.36784 18.4839 2.74689 18.4839C5.89181 18.4839 9.03672 18.4839 12.1872 18.4839C13.841 18.4839 14.9958 17.3367 14.9958 15.6778C15.0014 13.3385 15.0014 10.9992 14.9958 8.65992ZM3.77277 5.10036C3.77277 3.06471 5.42652 1.40583 7.45585 1.40583H7.54555C9.57489 1.40583 11.2286 3.06471 11.2286 5.10036V5.57834H3.77277V5.10036V5.10036ZM13.6504 15.7003C13.6504 16.5776 13.0842 17.1343 12.2153 17.1399C10.64 17.1399 9.05914 17.1399 7.48388 17.1399C5.91984 17.1399 4.35579 17.1399 2.79735 17.1399C1.9004 17.1399 1.34542 16.5832 1.34542 15.6778C1.34542 13.3385 1.34542 10.9936 1.34542 8.6543C1.34542 7.75456 1.90601 7.19223 2.80295 7.19223C5.93665 7.19223 9.07035 7.19223 12.1984 7.19223C13.0842 7.19223 13.6504 7.74894 13.6504 8.6318C13.656 10.988 13.656 13.3442 13.6504 15.7003Z' fill='%239A9A9A'/%3e%3c/svg%3e ") no-repeat;
      }

    }

  }

  &__list {
    &.documents__list {
      li {
        position: relative;
        padding-right: 13px;

        .list__subtitle {
          span {
            display: inline-block;
            margin-bottom: 5px;
          }

          p {
            display: flex;
            align-items: center;

            svg {
              margin-right: 3px;
            }
          }
        }

        .list__edit {
          margin-right: 17px;
          width: 42%;
        }

        .list__status {
          min-width: 16px;
          margin-left: auto;
        }
      }

      .list__subtitle {
        width: 37%;
      }
    }

  }

  &__list-status {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      display: flex;
      align-items: center;
      width: 131px;
      height: 30px;
      background: none;
      border: 1px solid #2F65F6;
      color: #2F65F6;
      border-radius: 3px;
      cursor: pointer;
      margin-bottom: 7px;
      padding: 0 12px;
      transition: all .3s;

      svg {
        margin-right: 6px;
        min-width: 13px;

        path {
          transition: all .3s;
        }
      }

      &:hover {
        color: #ffffff;
        background-color: #2F65F6;

        svg path {
          fill: #ffffff;
        }

      }
    }
  }

  &__list-controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 170px;


    button {
      background: none;
      border: none;
      height: 20px;
      cursor: pointer;
    }
  }

  .pagination {
    margin-top: 35px;
    padding-left: 0;
    justify-content: flex-start;
  }
}
