.case-item {
  .top {
    .container {
      padding: 40px 15px 35px;
      display: flex;
      justify-content: space-between;
    }

    h1 {
      margin: 0;
      @include montserrat-semibold;
      font-size: 36px;
      line-height: 44px;
    }

    .case-item__btn {
      width: 190px;
      max-height: 40px;
      display: block;
      padding: 10px 20px;
      background: #2F65F6;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: #264DDB;
      }
    }

  }

  > .container {
    display: flex;
    justify-content: space-between;
  }

  .case {
    > .container {
      max-width: 980px;
      padding: 0 0 150px;
    }

    h3 {
      margin-bottom: 23px;
      @include montserrat-semibold;
      font-size: 22px;
      line-height: 27px;
    }

    h4 {
      @include montserrat-regular;
      font-size: 20px;
      line-height: 24px;
    }

    h5 {
      @include montserrat-regular;
      padding-top: 4px;
      font-size: 20px;
      line-height: 24px;
    }

    &__deal {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    &__composition {
      margin-top: 38px;
      padding: 20px 28px;
      border: 1px solid #2F65F6;
      border-radius: 5px;

      h3 {
        font-size: 16px;
        line-height: 20px;
      }

      p {
        margin-top: 8px;
      }
    }

    &__minititle {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #858584;
    }

    .payments {
      margin-top: 55px;
      margin-bottom: 50px;

      h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
      }


      .table {
        margin-top: 13px;
        width: 100%;

        tbody tr {
          text-align: left;
          vertical-align: top;

          &:nth-child(odd) {
            background-color: #F7F8FA;
          }
        }

        td {
          padding: 10px 0 10px 15px;

          span {
            color: #858584;
          }

          &:first-child {
            width: 37%;
          }

          &:last-child {
            padding: 10px 10px 10px 50px;
          }
        }
      }
    }

    &__tag-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
      a {
        font-weight: 500;
        color: $link;
        white-space: nowrap;
      }

      p, h4 {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    &__fields {
      margin-bottom: 50px;


      h4 {

      }

      &.app {
        margin-bottom: 38px;
        .case__tag-wrapper {


          &._title {
            margin-bottom: 23px;
          }
        }

        h3 {

        }

        h5 {
          margin-bottom: 22px;
          padding: 0;

        }

        >.case__minititle {
          margin-bottom: 8px;
        }
      }
    }

    &__fields-wrap {
      p {
        line-height: 24px;
        margin-bottom: 24px;
      }
    }
  }


  .aside {
    max-width: 445px;
    height: 100%;
    margin: 0 0 0 20px;
    padding: 40px 36px 46px;
    background-color: #f7f8fa;
    border-radius: 15px;

    h3 {
      @include montserrat-semibold;
      font-size: 22px;
      line-height: 27px;
    }

    .data-case {
      margin: 18px 0 25px;

      &__item {
        display: flex;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .case__minititle {
          min-width: 158px;
          width: 158px;
          padding-left: 0;
        }

        p {
          padding-left: 22px;
          line-height: 26px;
        }

        a {
          color: #2f65f6;
        }
      }
    }

    .pattern {
      &__item {
        margin-top: 28px;

        &:first-child {
          margin-top: 17px;
        }

        a {
          display: block;
          padding: 10px 0 0 30px;
          color: #2f65f6;
          line-height: 20px;
          position: relative;
          word-break: break-word;
          &::before {
            content: "";
            background-image: url("../img/svg/case_file.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            display: flex;
            position: absolute;
            width: 16px;
            height: 21px;
            left: 0;
          }
        }
      }
    }
  }
}
