.page-contacts {
  padding-top: 15px;
  padding-bottom: 130px;
  min-height: calc(100vh + 60px);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__top-search {
    display: flex;
    align-items: center;
  }

  &__search-input {
    background: #F2F1F7;
    border: none;
    border-radius: 5px;
    padding: 9px 14px;
    height: 40px;
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    width: 360px;

    &::placeholder {
      color: #858584;
    }
  }

  &__search-btn {
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #2F65F6;
    padding: 8.5px 17px;
    cursor: pointer;
    border: 1px solid #2F65F6;
    border-radius: 5px;
    background: none;
    transition: all .3s;

    &:hover {
      background-color: #2F65F6;
      color: #ffffff;
    }
  }

  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    margin-right: 16px;
    padding-bottom: 4px;
  }

  &__btn {
    background: $link;
    border-radius: 5px;
    border: none;
    @include montserrat-semibold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    padding: 10px 26px;
    cursor: pointer;

    &:hover {
      background: #264DDB;
    }
  }

  &__sort-btn {
    background: none;
    color: $link;
    padding: 0;
    display: none;

    &:hover {
      background: none;
    }
  }

  //&__create-contact-btn {
  //  margin-right: 25px;
  //}

  .contacts-table {
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    &__owner-label {
      display: block;
      @include montserrat-semibold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      background-color: $link;
      padding: 3px 14px;
      border-radius: 20px;
      width: 115px;
      margin-top: 10px;
    }

    &__row {
      display: flex;
      padding-left: 22px;
      background-color: #F7F8FA;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__cell {
      padding: 18px 25px 18px 0;
      width: 100%;
      flex: 1 1 auto;
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #222220;
      position: relative;
    }

    &__agency {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #000000;

      a {
        color: #000000;
      }
    }


    &__note {
      max-width: 24%;
    }

    &__subject {
      max-width: 20%;
    }

    &__role {
      max-width: 12%;
    }

    &__btn {
      align-self: flex-start;
      background: none;
      cursor: pointer;
      border: none;
      max-width: 8%;
    }

    &__status {
      max-width: 8%;
      border-radius: 0 5px 5px 0;

      &.contacts-table__status_red {
        background-color: #F3D4DE;
      }

      &.contacts-table__status_green {
        background-color: #CEF0E4;
      }

      &.contacts-table__status_yellow {
        background-color: #FFF9C5;
      }

      &.contacts-table__status_grey {
        background-color: #E8E8E8;
      }
    }

  }

  .new-contact__desc {
    height: 100px;
  }

}
