.correspondence-item {

  &._closed {
    .deal-submenu .container .deals__btn.deals__btn-open-btn {
      display: block;
    }

    .deal-submenu .container .deals__btn.deals__btn-closed-btn {
      display: none;
    }
  }

  padding-bottom: 100px;

  .container {
    padding-top: 19px;
    padding-bottom: 100px;
  }

  .newmail-one {
    color: #000000;


    &__title {
      @include montserrat-semibold;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 23px;
    }

    &__inner {
      display: flex;
    }

    &__right-block {
      min-width: 250px;
    }

    &__caption-list {
      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        a {
          color: #2f65f6;
        }
      }
    }

    &__caption-list-top {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #E6E6E6;
    }

    &__caption-list-bottom {
      li {
        display: flex;
        align-items: center;

        .newmail-one__list-title {
          margin-bottom: 0;
          margin-right: 5px;
        }

        &.newmail-one__caption-item-nowrap {
          flex-direction: column;
          align-items: flex-start;

          .newmail-one__list-title {
            margin-bottom: 5px;
            margin-right: 0;
          }

          .newmail-one__list-content {
            color: #2F65F6;
          }

        }

      }
    }


    &__list-title {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #858584;
      margin-bottom: 5px;
    }

    &__list-content {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
    }

    .mail-block {
      flex-grow: 1;
      margin-right: 30px;
      padding: 30px 34px 47px 21px;
      background: #f7f8fa;
      border-radius: 15px;

      &__type {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 13px;
        display: inline-block;
        color: #2f65f6;
      }

      &__title {
        @include montserrat-semibold;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 43px;
      }

      &__name {
        font-weight: 500;
      }

      &__info {
        margin-bottom: 55px;

        li {
          display: flex;

          &:not(:last-child) {
            margin-bottom: 13px;
          }
        }

        p {
          @include montserrat-regular;
          font-size: 16px;
          line-height: 20px;
          color: #000000;
        }

        .mail-block__info-title {
          color: #858584;
          margin-right: 5px;
        }

      }

      &__body {
        @include montserrat-medium;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 55px;

        a {
          color: #2F65F6;
          font-size: 16px;
          line-height: 20px;

        }
      }

      &__employee {
        color: #2f65f6;
      }

      &__attachment {
        @include montserrat-semibold;
        margin-bottom: 12px;
      }

      &__list {
        li {
          display: flex;
          align-items: center;

          svg {
            margin-right: 7px;
          }
        }
      }

      &__link {
        margin-right: 10px;
        color: #2f65f6;
        line-height: 30px;
      }

      &__link-size {
        line-height: 30px;
        color: #858584;
      }
    }

    &__btns {
      display: flex;

      button {
        margin-top: 20px;
        padding: 13px 21px;
        @include montserrat-medium;
        border-radius: 5px;
        font-size: 17px;
        line-height: 21px;
        color: #2f65f6;
        background-color: #ffffff;
        border: 1px solid #2f65f6;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: #FFFFFF;
          background-color: #2f65f6;
        }

        &:first-child {
          margin-right: 15px;
        }
      }

      .newmail-one__delete-btn {
        border: 1px solid #BC0D48;
        color: #BC0D48;

        &:hover {
          color: #FFFFFF;
          background-color: #BC0D48;
        }
      }

    }

  }
}
