.create-template-page {
  .create-template {
    color: #000000;

    .container {
      padding-top: 35px;
      padding-bottom: 170px;

      h1 {
        @include montserrat-semibold;
        font-size: 36px;
        line-height: 44px;
      }
    }

    .help-block {
      position: absolute;
      width: 40px;
      height: 24px;
      right: -50px;
      top: 35%;
      z-index: 10;
      cursor: pointer;

      &:hover .help-popup {
        display: block;
      }
    }

    .help-popup {
      position: absolute;
      width: max-content;
      max-width: 420px;
      padding: 13px 10px 9px 17px;
      top: -20px;
      left: 35px;
      background: #FFFFFF;
      box-shadow: -2px 10px 18px rgba(3, 0, 135, 0.3);
      border-radius: 10px;
      z-index: 15;
      cursor: auto;
      display: none;

      ol {
        margin: 0;
        padding-left: 20px;

      }

      li {
        list-style: auto;
        @include inter-regular;
        font-style: italic;
        font-size: 15px;
        line-height: 20px;
        color: #3E29CA;
      }

    }


    .form {
      min-width: 60%;
      padding-right: 35px;

      label {
        margin-bottom: 6px;
        color: #858584;
      }

      h3 {
        margin-bottom: 22px;
        @include montserrat-semibold;
        font-size: 20px;
        line-height: 24px;
      }
    }


    &__wrappers {
      display: flex;
      padding-bottom: 5px;
      border-bottom: 1px dotted #C4C4C4;
      margin-bottom: 50px;
    }

    &__wrapper-left {
      flex-grow: 1;
      margin-right: 60px;
    }

    &__wrapper-right {
      min-width: 500px;
    }


    &__wrapper {
      margin-top: 23px;
    }

    &__input-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 27px;

      input {
        height: 60px;
        padding: 18px 16px 20px;
        @include montserrat-medium;
        font-size: 17px;
        line-height: 21px;
        color: #817D8C;
        background-color: #F2F1F7;
        border: none;

        &:focus {
          outline: 1px solid #3e29ca;
        }

      }
    }

    &__select-wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;

      .help-block {
        top: 44px
      }

      .choices__placeholder {
        font-size: 17px;
        color: #817D8C;
        opacity: 1;
      }

      .choices[data-type*="select-one"]::after {
        border-width: 7px;
        border-color: #817d8c transparent transparent transparent;
      }

      .choices {
        width: 100%;
        margin-bottom: 0;
        border: 1px solid transparent;

        &.is-open {
          border: 1px solid #3e29ca;
        }
      }

      .choices[data-type*="select-one"].is-open::after {
        margin-top: -2px;
      }

      .choices__inner {
        display: flex;
        align-items: center;
        min-height: auto;
        height: 60px;
        padding: 0 13px 0;
        font-size: 17px;
        line-height: 21px;
        font-weight: 500;
        color: #817D8C;
        background: #F2F1F7;
        border: 1px solid #e6e6e6;
        border-radius: 0;
      }

      .choices__list[aria-expanded] .choices__item {
        font-size: 17px;
      }

      .choices__list--dropdown .choices__item--selectable.is-highlighted,
      .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
        background: #f8f8fa;

      }

      .choices__item.choices__item--choice.is-selected.choices__item--selectable {
        color: #2f65f6;
      }

      .choices__list--dropdown,
      .choices__list[aria-expanded] {
        border: 1px solid #f8f8fa;
        filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
        margin-top: 10px;
      }
    }

    &__select-wrap_border {
      margin: 25px 18px 34px 0;
    }

    &__textarea-wrap {
      display: flex;
      flex-direction: column;
      margin-bottom: 19px;
      display: none;

      textarea {
        height: 450px;
        padding: 18px 16px 20px;
        color: #817D8C;
        background-color: #F2F1F7;
        border: none;

        &:focus {
          outline: 1px solid #3e29ca;
        }
      }
    }

    &__buttons-wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &__save-btn {
      min-width: 259px;
      width: 259px;
      height: 60px;
      margin-right: 23px;
      background-color: #2F65F6;
      border: 1px solid #2F65F6;
      border-radius: 5px;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: #264DDB;
      }
    }

    &__publish-btn {
      min-width: 289px;
      width: 289px;
      margin-right: 23px;

      height: 60px;
      background-color: #ffffff;
      border: 1px solid #2F65F6;
      border-radius: 5px;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
      color: #2F65F6;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: #264DDB;
        color: #FFFFFF;
      }
    }


    &__cancel-btn {
      border: none;
      cursor: pointer;
      background: none;
      color: #2F65F6;
      @include montserrat-bold;
      font-size: 20px;
      line-height: 24px;
    }

    ::-webkit-scrollbar {
      height: 10px;
      background: #F2F1F7;

    }

    ::-webkit-scrollbar-thumb {
      background: #D2D2D8;
      border-radius: 10px;

    }

    ::-webkit-scrollbar-corner {
      background: #F2F1F7;
    }

    scrollbar-color: #D2D2D8 #F2F1F7;
    scrollbar-width: thin;

  }

  .instructions {
    &__tags {
      display: none;
    }

    h4 {
      @include montserrat-semibold;
      margin-bottom: 20px;
    }

    &__desc {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #858584;
      margin-bottom: 10px;
      max-width: 500px;
    }

    &__fields-link {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #2F65F6;
      margin-bottom: 60px;
      display: inline-block;
    }

    &__links {
      padding-top: 6px;
      margin-bottom: 35px;
    }

    &__link-download {
      display: block;
      margin-bottom: 20px;
      color: #2F65F6;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.70312 14.8C6.30312 14.8 4.90317 14.8 3.50317 14.8C1.90317 14.8 0.703125 13.6 0.703125 12C0.703125 11.3 0.703125 10.7 0.703125 10C0.703125 9.6 1.00322 9.29999 1.30322 9.29999C1.70322 9.29999 1.90317 9.6 2.00317 10C2.00317 10.6 2.00317 11.3 2.00317 11.9C2.00317 12.8 2.60317 13.4 3.50317 13.4C6.30317 13.4 9.20317 13.4 12.0032 13.4C12.9032 13.4 13.5032 12.8 13.5032 11.9C13.5032 11.2 13.5032 10.6 13.5032 9.89999C13.5032 9.49999 13.8031 9.20001 14.2031 9.20001C14.6031 9.20001 14.8032 9.49999 14.8032 9.89999C14.8032 10.6 14.8032 11.3 14.8032 12C14.8032 13.5 13.6031 14.6 12.1031 14.7C10.5031 14.8 9.10312 14.8 7.70312 14.8Z' fill='%232F65F6'/%3e%3cpath d='M7.00097 8.79999C7.00097 8.69999 7.00097 8.6 7.00097 8.5C7.00097 6.2 7.00097 3.8 7.00097 1.5C7.00097 1.3 7.00092 1.09999 7.20092 0.899994C7.40092 0.699994 7.60102 0.700012 7.80102 0.700012C8.00102 0.800012 8.20102 0.900012 8.30102 1.20001C8.30102 1.30001 8.30102 1.4 8.30102 1.5C8.30102 3.8 8.30102 6.09999 8.30102 8.39999C8.30102 8.49999 8.30102 8.50001 8.30102 8.60001C8.40102 8.60001 8.40097 8.5 8.50097 8.5C9.30097 7.7 10.001 7.00001 10.801 6.20001C11.101 5.90001 11.4009 5.90001 11.7009 6.10001C12.0009 6.30001 12.001 6.7 11.801 7C11.801 7.1 11.7009 7.10001 11.6009 7.20001C10.5009 8.30001 9.30092 9.50001 8.20092 10.6C7.80092 11 7.50094 11 7.10094 10.6C5.90094 9.50001 4.80092 8.30001 3.70092 7.20001C3.30092 6.80001 3.40097 6.20001 4.00097 6.10001C4.30097 6.00001 4.50092 6.09999 4.70092 6.29999C5.40092 7.09999 6.20097 7.80001 7.00097 8.60001C6.90097 8.70001 6.90097 8.69999 7.00097 8.79999Z' fill='%232F65F6'/%3e%3c/svg%3e ");
        margin-right: 7px;
      }
    }


    &__btn {
      width: 100%;
      height: 40px;
      border: 1px solid #2F65F6;
      background: #2F65F6;
      border-radius: 5px;
      @include montserrat-medium;
      font-size: 17px;
      line-height: 21px;
      color: #FFFFFF;
      transition: .3s;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #264DDB;
      }
    }

    &__btn-wrapper {
      width: 386px;
      position: relative;

      .help-block {
        top: 50%;
        transform: translateY(-50%);
      }

      .help-popup {
        left: auto;
        right: 50px;
      }
    }

    &__title-block {
      display: flex;
      margin-bottom: 3px;

      .help-block {
        position: relative;
        top: -2px;
        right: -10px;
        width: 24px;
        height: 35px;
      }

      .help-popup {
        left: -200px;
        top: 30px;
      }
    }


    &__row {
      margin-bottom: 25px;

      .instructions__btn-tag {
        &:not(:last-child) {
          margin-right: 9px;
        }
      }
    }

    &__btn-tag {
      height: 25px;
      margin-top: 8px;
      padding: 0 10px;
      border: 1px solid #2F65F6;
      background-color: #ffffff;
      border-radius: 5px;
      font-size: 14px;
      line-height: 17px;
      color: #2F65F6;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: #ffffff;
        background-color: #264DDB;
      }
    }


  }

  #create-template-doc-dropzone {
    .dz-preview {
      background-image: url('../img/doc-file.png');
      background-repeat: no-repeat;
      background-size: auto 132px;
      width: 121px;
      height: 172px;
      display: flex;
      margin: 15px 30px 10px 0;
      align-items: flex-end;
    }


    .dz-details {
      display: block !important;

      .dz-size {
        display: none;
      }
    }

    .dz-remove {
      color: transparent;
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background: url("../img/del-avatar.png") no-repeat center;
      width: 25px;
      height: 25px;
      z-index: 100;
    }

  }

}
