.deals {
  .minititle {
    color: #858584;
  }

  a {
    color: #2f65f6;
  }

  > .container {
    display: flex;
  }

  .one-deal {
    .container {
      flex-grow: 1;
      padding: 0 0 65px;
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 34px;
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
    }

    &__disc {
      margin-left: 12px;
      display: flex;
      width: 14px;
      height: 14px;
      border-radius: 50%;

      &._green {
        background-color: #0CB477;
      }

      &._red {
        background-color: #BC0D48;
      }

      &._yellow {
        background-color: #f6c72a;
      }

    }

    &__info {
      width: 100%;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 0 38px;
      border-bottom: 2px dotted #C4C4C4;;
    }

    &__item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      p {
        font-size: 20px;
        line-height: 24px;

      }

      .minititle {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 20px;
        color: #858584;
      }

      a {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__data {
      margin-top: 35px;

      h3 {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        color: #000000;
      }
    }

    &__warning {
      margin-top: 20px;
      padding: 13px 32px 13px 41px;
      background: #F4F7FB;
      border-radius: 5px;
      font-size: 16px;
      line-height: 24px;
      color: #2F65F6;
      position: relative;

      &::before {
        content: '';
        display: flex;
        width: 18px;
        height: 18px;
        background-image: url('../img/svg/deal-warning.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 14px;
      }
    }

    &__name {
      margin-top: 27px;
      display: flex;
      align-items: baseline;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #000000;

      > p {
        margin-right: 30px;
      }
    }

    &__btn-status {
      display: flex;
      align-items: center;
      width: 131px;
      height: 30px;
      padding: 0 12px 0 30px;
      font-size: 16px;
      line-height: 20px;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: transparent;
      cursor: pointer;
      position: relative;

      &::before {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
      }

      &._active {
        color: $link;
        border-color: $link;

        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.57001 0.134038C8.61239 0.0915496 8.66274 0.05784 8.71816 0.0348396C8.77359 0.0118392 8.83301 0 8.89303 0C8.95304 0 9.01246 0.0118392 9.06789 0.0348396C9.12332 0.05784 9.17366 0.0915496 9.21604 0.134038L12.866 3.78396C12.9085 3.82634 12.9422 3.87668 12.9652 3.93211C12.9882 3.98754 13 4.04696 13 4.10697C13 4.16699 12.9882 4.22641 12.9652 4.28184C12.9422 4.33726 12.9085 4.38761 12.866 4.42999L11.1304 6.16553L10.374 9.18857C10.3165 9.41876 10.2001 9.63004 10.0363 9.80169C9.87247 9.97333 9.66685 10.0994 9.4396 10.1677L0 13L2.83234 3.55949C2.90061 3.33252 3.02664 3.12716 3.19811 2.96353C3.36958 2.7999 3.5806 2.6836 3.81051 2.62602L6.83356 1.87049L8.57001 0.134038ZM6.92755 2.78753L4.03225 3.51112C3.95539 3.53031 3.88485 3.56917 3.82758 3.62389C3.7703 3.67861 3.72825 3.74729 3.70558 3.82319L1.36051 11.6386L9.17772 9.29351C9.25317 9.27064 9.32141 9.22862 9.37578 9.17153C9.43015 9.11443 9.4688 9.04423 9.48796 8.96775L10.2125 6.07154L6.92755 2.78753Z' fill='%232F65F6'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.4398 11.6151L6.1555 7.75709C6.33597 7.75709 6.51239 7.70357 6.66244 7.60331C6.8125 7.50304 6.92945 7.36053 6.99852 7.1938C7.06758 7.02707 7.08565 6.8436 7.05044 6.66659C7.01523 6.48959 6.92833 6.327 6.80072 6.19939C6.6731 6.07178 6.51052 5.98487 6.33351 5.94966C6.15651 5.91445 5.97304 5.93252 5.80631 6.00159C5.63957 6.07065 5.49706 6.18761 5.3968 6.33766C5.29653 6.48772 5.24302 6.66414 5.24302 6.84461L1.38505 11.5603L1.36133 11.6388L1.4398 11.6151Z' fill='%232F65F6'/%3e%3c/svg%3e ");
        }
      }

      &._posted {
        color: #0CB477;;
        border-color: #0CB477;
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.57001 0.134038C8.61239 0.0915496 8.66274 0.05784 8.71816 0.0348396C8.77359 0.0118392 8.83301 0 8.89303 0C8.95304 0 9.01246 0.0118392 9.06789 0.0348396C9.12332 0.05784 9.17366 0.0915496 9.21604 0.134038L12.866 3.78396C12.9085 3.82634 12.9422 3.87668 12.9652 3.93211C12.9882 3.98754 13 4.04696 13 4.10697C13 4.16699 12.9882 4.22641 12.9652 4.28184C12.9422 4.33726 12.9085 4.38761 12.866 4.42999L11.1304 6.16553L10.374 9.18857C10.3165 9.41876 10.2001 9.63004 10.0363 9.80169C9.87247 9.97333 9.66685 10.0994 9.4396 10.1677L0 13L2.83234 3.55949C2.90061 3.33252 3.02664 3.12716 3.19811 2.96353C3.36958 2.7999 3.5806 2.6836 3.81051 2.62602L6.83356 1.87049L8.57001 0.134038ZM6.92755 2.78753L4.03225 3.51112C3.95539 3.53031 3.88485 3.56917 3.82758 3.62389C3.7703 3.67861 3.72825 3.74729 3.70558 3.82319L1.36051 11.6386L9.17772 9.29351C9.25317 9.27064 9.32141 9.22862 9.37578 9.17153C9.43015 9.11443 9.4688 9.04423 9.48796 8.96775L10.2125 6.07154L6.92755 2.78753Z' fill='%230CB477'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.4398 11.6151L6.1555 7.75709C6.33597 7.75709 6.51239 7.70357 6.66244 7.60331C6.8125 7.50304 6.92945 7.36053 6.99852 7.1938C7.06758 7.02707 7.08565 6.8436 7.05044 6.66659C7.01523 6.48959 6.92833 6.327 6.80072 6.19939C6.6731 6.07178 6.51052 5.98487 6.33351 5.94966C6.15651 5.91445 5.97304 5.93252 5.80631 6.00159C5.63957 6.07065 5.49706 6.18761 5.3968 6.33766C5.29653 6.48772 5.24302 6.66414 5.24302 6.84461L1.38505 11.5603L1.36133 11.6388L1.4398 11.6151Z' fill='%230CB477'/%3e%3c/svg%3e ");
        }
      }

      &._completed {
        color: #0CB477;;
        border-color: #0CB477;
        pointer-events: none;
        opacity: .5;
        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.80572 9.75678C4.80572 9.67768 4.80178 9.59858 4.80572 9.51948C4.81361 9.30196 4.79389 9.12399 4.62041 8.9381C4.30105 8.60193 4.37991 8.06405 4.7387 7.76348C5.0896 7.46685 5.62187 7.51036 5.92151 7.85839C6.2251 8.20643 6.20145 8.73244 5.85843 9.04489C5.78352 9.11608 5.75198 9.17936 5.75198 9.28218C5.75986 9.60649 5.75592 9.93476 5.75592 10.2591C5.75592 10.5478 5.55484 10.7613 5.29068 10.7693C5.02257 10.7732 4.81361 10.5557 4.80967 10.2591C4.80572 10.093 4.80572 9.92289 4.80572 9.75678Z' fill='%236DD2AD'/%3e%3cpath d='M10.5468 6.09066C10.5468 5.9641 10.5468 5.83359 10.5231 5.70703C10.3694 4.84484 9.7267 4.23578 8.87901 4.12899V3.58716C8.87901 1.60967 7.27432 0 5.30296 0H5.24382C3.27246 0 1.66777 1.60967 1.66777 3.58716V4.12504C1.6244 4.12899 1.58497 4.1369 1.54555 4.14481C0.62295 4.32279 0.00788544 5.0861 0.00394272 6.04715C0 7.71615 0 9.38911 0 11.0581C0 11.1768 0.00394272 11.2954 0.0236563 11.4141C0.197136 12.3672 0.962024 13 1.93193 13C4.1438 13 6.35567 13 8.57148 13C9.73458 13 10.5468 12.1932 10.5468 11.0265C10.5507 9.3812 10.5507 7.73593 10.5468 6.09066ZM2.65345 3.58716C2.65345 2.15546 3.81656 0.988743 5.24382 0.988743H5.3069C6.73417 0.988743 7.89727 2.15546 7.89727 3.58716V3.92333H2.65345V3.58716ZM9.60053 11.0423C9.60053 11.6593 9.20231 12.0508 8.59119 12.0548C7.48329 12.0548 6.37144 12.0548 5.26353 12.0548C4.16351 12.0548 3.0635 12.0548 1.96742 12.0548C1.33658 12.0548 0.946253 11.6632 0.946253 11.0265C0.946253 9.3812 0.946253 7.73197 0.946253 6.0867C0.946253 5.45391 1.34053 5.05841 1.97136 5.05841C4.17534 5.05841 6.37932 5.05841 8.57936 5.05841C9.20231 5.05841 9.60053 5.44995 9.60053 6.07088C9.60447 7.72802 9.60447 9.38515 9.60053 11.0423Z' fill='%236DD2AD'/%3e%3c/svg%3e ");
        }
      }

    }

    .payments {
      margin-top: 40px;

      h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
      }


      .table {
        margin-top: 16px;
        min-width: 100%;

        &__wrapper-flex {
          display: flex;
          width: 100%;
          align-items: center;
        }

        tbody tr {
          text-align: left;
          vertical-align: top;

          &:nth-child(odd) {
            background-color: #F7F8FA;
          }
        }

        td {
          padding: 7px 0 10px 15px;

          span {
            display: block;
            margin-right: 5px;
            color: #858584;
          }

          a {
            display: flex;
            width: 15px;
            margin-right: 9px;

            svg {
              margin: auto;
            }
          }

          button {
            display: flex;
            width: 21px;
            border: none;
            background-color: transparent;
            cursor: pointer;

            svg {
              margin: auto;
            }
          }

          &:nth-child(n+3) {
           padding-left: 30px;
            min-width: 160px;
            width: 160px;
          }
          &:nth-child(5) {
            min-width: 180px;
            width: 180px;
          }


        }
      }
    }

    &__subject {
      padding-top: 45px;

      h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
      }

      p {
        padding: 20px 0 55px;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
    }

    &__wrap {
      padding-bottom: 35px;

      h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }

      p {
        padding: 13px 0 0;
      }
    }
  }

  .aside {
    margin-left: 23px;
    min-width: 335px;
    max-width: 335px;

    &__top {
      a {
        display: block;
        margin-top: 17px;
        font-size: 20px;
        line-height: 24px;
        word-wrap: break-word;
      }
    }

    &__card {
      margin-top: 40px;
      padding: 36px 10px 40px 33px;
      background-color: #f7f8fa;
      border-radius: 15px;
    }

    &__item {
      margin-top: 30px;

      .minititle {
        margin-top: 8px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &__price {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #BC0D48;

      &.plan {
        color: #0CB477;
      }
    }

    &__people {
      margin-top: 30px;
      padding-top: 37px;
      border-top: 2px dashed #C4C4C4;

      .aside__item {
        margin-top: 18px;

        &:first-child {
          margin-top: 0;
        }
      }

      a {
        display: block;
        margin-top: 5px;
      }
    }

    &__btn-people {
      align-items: center;
      display: inline-block;
      padding: 5px 9px;
      margin-top: 32px;
      color: #858584;
      background-color: #F7F8FA;
      border: 1px solid #858584;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}
