.deals-documents {

  padding: 17px 0 385px;

  .container {
    display: flex;
  }

  button {
    background: none;
    border: none;
  }


  &__content {
    flex-grow: 1;
    max-width: 850px;
  }


  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 34px;
  }

  &__caption-list {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 2px dotted #C4C4C4;
    margin-bottom: 25px;

    li {
      margin-right: 90px;
    }

    .deals-documents__list-title {
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #858584;
      margin-bottom: 5px;
    }

    .deals-documents__list-content {
      @include montserrat-regular;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
    }

    a.deals-documents__list-content {
      color: #2F65F6;;
    }

  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__info-treaty {
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-right: 80px;

    span {
      color: #2F65F6;
    }
  }

  &__info-download {
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    color: #2F65F6;
    padding-left: 23px;
    position: relative;
    cursor: pointer;
    margin-right: 38px;

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__info-edit {
    margin-right: 20px;
  }

  &__info-status {
    font-size: 16px;
    line-height: 20px;
    color: #0CB477;
  }

  &__filter-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  &__search-input {
    flex-grow: 1;
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    color: #858584;
    padding: 10px 18px;
    margin-right: 12px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    outline: none;
  }

  .choices {
    width: 200px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;

    &.is-open {
      border: 1px solid #3E29CA;
    }
  }

  .choices__placeholder {
    opacity: 1;
  }

  .choices__inner {

    border: none;
    background: none;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #817D8C;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 12px;
  }

  .choices__list--single {
    padding: 7px 16px 4px 4px;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #F8F8FA;
    color: #2F65F6;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    border: 1px solid #F2F1F7;
    filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
    margin-top: 10px;
  }

  .deals-documents-table {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin-bottom: 22px;

    &__row {
      display: flex;
      padding: 14px 14px;
    }

    &__cell {
      width: 100%;
      flex: 1 1 auto;
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      padding-right: 20px;
    }

    &__row:nth-child(odd) {
      background-color: #F7F8FA;
    }

    &__number {
      color: #2F65F6;
    }

    &__download {
      width: 47%;

      button {
        color: #2F65F6;
        cursor: pointer;

        svg {
          margin-right: 5px;
        }
      }
    }


    &__name {
      width: 58%;
    }

    &__edit {
      width: 13%;
    }

    &__status {
      width: 34%;
    }
  }

  .deals-documents__content {
    .deals-documents__add-btn {
      @include montserrat-semibold;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      transition: all .3s;
      background: #2F65F6;
      border-radius: 5px;
      padding: 9px 19px;
      &:hover {
        background-color: #264DDB;
      }
    }
  }


}
