.deal-story {

  .minititle {
    color: #858584;
  }

  a {
    color: #2f65f6;
  }

  >.container {
    margin-top: 28px;
    display: flex;
  }

  .one-deal {
    .container {
      max-width: 850px;
      padding: 0 0 65px;
    }

    &__title {
      display: flex;
      align-items: center;
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
    }

    &__info {
      width: 100%;
      border-bottom: 2px dotted #C4C4C4;
    }

    &__row {
      display: flex;
      width: 100%;
      padding: 33px 0 38px;
    }

    &__item {
      margin-left: 113px;

      &:first-child {
        margin-left: 0;
      }

      p {
        font-size: 20px;
        line-height: 24px;

      }

      .minititle {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 20px;
        color: #858584;
      }

      a {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .search {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      &__input {
        width: 100%;
        height: 40px;
        padding-left: 18px;
        line-height: 20px;
        color: #858584;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
      }
      &__select {
        width: 200px;
        margin-left: 13px;
      }
      .create-case-page {
        &__wrapper-payment-date {
          position: relative;

          svg {
            position: absolute;
            right: 15px;
            top: 50%;
            pointer-events: none;
          }
        }

        .choices {
          width: 100%;
          border: 1px solid transparent;

          &.is-open {
            border: 1px solid #3E29CA;
          }
        }

        .choices__placeholder {
          opacity: 1;
        }

        .choices__inner {
          border: none;
          background: #E5E5E5;
          @include montserrat-medium;
          font-size: 17px;
          line-height: 21px;
          color: #858584;
          border: 1px solid #E6E6E6;
          border-radius: 5px;
        }

        .choices[data-type*=select-one] .choices__inner {
          padding-bottom: 16px;
          padding-top: 16px;
          padding-left: 12px;
        }

        .choices__list--dropdown .choices__item--selectable.is-highlighted,
        .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
          background-color: #F8F8FA;
          color: #2F65F6;
        }

        .choices__list--dropdown,
        .choices__list[aria-expanded] {
          border: 1px solid #F2F1F7;
          filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
          margin-top: 10px;
        }
      }
    }

    .payments {
      margin-top: 40px;

      h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
      }


      .table {
        margin-top: 16px;
        min-width: 850px;

        tbody tr {
          text-align: left;
          vertical-align: top;

          &:nth-child(odd) {
            background-color: #F7F8FA;
          }
        }

        td {
          padding: 7px 0 10px 15px;

          span {
            color: #858584;
          }

          &:nth-child(3) {
            width: 160px;
          }

          &:nth-child(n+4) {
            width: 120px;
          }
        }
      }
    }
  }

  .aside {
    margin-left: 70px;

    &__top {
      a {
        display: block;
        margin-top: 17px;
        font-size: 20px;
        line-height: 24px;
        word-wrap: break-word;
      }
    }

    &__card {
      max-width: 335px;
      margin-top: 40px;
      padding: 36px 10px 40px 33px;
      background-color: #f7f8fa;
      border-radius: 15px;
    }

    &__item {
      margin-top: 30px;

      .minititle {
        margin-top: 8px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &__price {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #BC0D48;

      &.plan {
        color: #0CB477;
      }
    }

    &__people {
      margin-top: 30px;
      padding-top: 37px;
      border-top: 2px dashed #C4C4C4;

      .aside__item {
        margin-top: 18px;

        &:first-child {
          margin-top: 0;
        }
      }

      a {
        display: block;
        margin-top: 5px;
      }
    }

    &__btn-people {
      width: 215px;
      height: 30px;
      margin-top: 32px;
      color: #858584;
      background-color: #F7F8FA;
      border: 1px solid #858584;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}
