.deal-story {

  &._closed {
    .deal-submenu .container .deals__btn.deals__btn-open-btn {
      display: block;
    }

    .deal-submenu .container .deals__btn.deals__btn-closed-btn {
      display: none;
    }
  }

  .minititle {
    color: #858584;
  }

  > .container {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: #2f65f6;
  }

  &__search-btn {
    padding: 10px 16px;
    background: none;
    @include montserrat-medium;
    border: 1px solid #E6E6E6;
    height: 40px;
    color: #9A9A9A;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }

  &__border-wrapper {
    padding: 15px 13px;
    border: 2px dotted #C4C4C4;
    border-radius: 10px;

    .main-sort {
      margin-bottom: 20px;
    }
  }

  .one-deal {
    flex-grow: 1;

    .container {
      padding: 0 0 100px;
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 34px;
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
    }

    &__info {
      width: 100%;
      margin-bottom: 15px;

    }

    &__row {
      width: 100%;
      padding: 0 0 38px;
      border-bottom: 2px dotted #C4C4C4;
    }

    &__wrapper-width {
      max-width: 900px;
      display: flex;
      justify-content: space-between;
    }

    &__item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      p {
        font-size: 20px;
        line-height: 24px;

      }

      .minititle {
        font-size: 16px;
        line-height: 20px;
        color: #858584;
      }

      a {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .search {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__input {
        width: 100%;
        height: 40px;
        padding-left: 18px;
        line-height: 20px;
        background: #ffffff;
        color: #858584;
        border: 1px solid #E6E6E6;
        border-radius: 5px;

        &:focus {
          border: 1px solid #3E29CA;
        }

        &:focus-visible {
          outline: none;
        }
      }

      &__wrap {
        min-width: 200px;
        margin-left: 13px;
        margin-right: 13px;

        .choices {
          width: 100%;
          border: 1px solid transparent;

          &.is-open {
            border: 1px solid #3E29CA;
            border-radius: 5px;
          }
        }

        .choices__placeholder {
          opacity: 1;
        }

        .choices__inner {
          @include montserrat-medium;
          font-size: 17px;
          line-height: 21px;
          color: #858584;
          background: #ffffff;
          border: 1px solid #E6E6E6;
          border-radius: 5px;
          min-height: auto;
          height: 40px;
        }

        .choices__list--dropdown .choices__item--selectable.is-highlighted,
        .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
          background-color: #F8F8FA;
          color: #2F65F6;
          border-radius: 5px;
        }

        .choices__list--dropdown,
        .choices__list[aria-expanded] {
          border: 1px solid #F2F1F7;
          filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
          margin-top: 10px;
        }
      }
    }

    .table-wrap {
      .table {
        width: 100%;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:nth-child(odd) {
            background-color: #F7F8FA;
          }

          p {
            padding: 15px 0 10px 14px;
            line-height: 22px;
            word-break: break-word;

            &:nth-child(1) {
              min-width: 150px;
              width: 150px;
            }

            &:nth-child(2) {
              width: 250px;
              min-width: 250px;
            }

            &:nth-child(3) {
              width: 350px;
              min-width: 350px;
            }

            &:nth-child(4) {
              width: 170px;
              min-width: 170px;
            }

            a {
              display: block;
              word-break: break-word;
            }
          }
        }
      }
    }
  }

  .aside {
    margin-left: 23px;
    min-width: 335px;
    max-width: 335px;

    &__top {
      a {
        display: block;
        margin-top: 17px;
        font-size: 20px;
        line-height: 24px;
        word-wrap: break-word;
      }
    }

    &__card {
      margin-top: 40px;
      padding: 36px 10px 40px 33px;
      background-color: #f7f8fa;
      border-radius: 15px;
    }

    &__item {
      margin-top: 30px;

      .minititle {
        margin-top: 8px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &__price {
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: #BC0D48;

      &.plan {
        color: #0CB477;
      }
    }

    &__people {
      margin-top: 30px;
      padding-top: 37px;
      border-top: 2px dashed #C4C4C4;

      .aside__item {
        margin-top: 18px;

        &:first-child {
          margin-top: 0;
        }
      }

      a {
        display: block;
        margin-top: 5px;
      }
    }

    &__btn-people {
      align-items: center;
      display: inline-block;
      padding: 5px 9px;
      margin-top: 32px;
      margin-bottom: 34px;
      color: #858584;
      background-color: #F7F8FA;
      border: 1px solid #858584;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ffffff;
      }
    }

    &__links {
      border-top: 2px dashed #C4C4C4;
      padding-top: 27px;

      p {
        margin-bottom: 13px;
        color: $link;
      }
    }
  }
}
