.page-doc {
  padding-top: 26px;
  padding-bottom: 250px;

  .dz-image {
    cursor: pointer;
  }

  .general-dropzone__add-btn {
    border: none;
    padding: 0;
    order: 2;

    &:hover {
      background: none;
    }
  }

  #passport-dropzone {
    display: flex;
    align-items: center;
    max-width: 260px;
    flex-wrap: wrap;

    .general-dropzone__add-btn {
      padding: 0 0 10px 0;
    }

    .dz-preview {
      width: 50px;
      height: 50px;
      margin: 0 12px 15px 0;

      img {
        border-radius: 5px;
      }
    }

    .dz-remove {
      color: transparent;
      position: absolute;
      top: -5px;
      right: -5px;
      background: url("../img/svg/delete-avatar.svg") no-repeat;
      width: 16px;
      height: 16px;
      z-index: 100;

      &:hover {
        background: url("../img/svg/delete-avatar-hover.svg") no-repeat;
      }
    }
  }


  &__scan-title {
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    color: #858584;
    margin-bottom: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 27px;
  }

  &__passport {
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    padding: 30px 30px 0 20px;
    width: 66%;
    margin-right: 20px;
  }

  &__passport-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__passport-title,
  &__insurance-title,
  &__tax-title {
    @include montserrat-bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__passport-item {
    width: 47%;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .page-doc__scans-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 420px;
  }

  &__item-scans {
    display: flex;
    margin-right: 10px;
  }

  &__scan-add {
    border: none;
    background: none;
    cursor: pointer;

    path {
      transition: all .3s;
    }

    &:hover path {
      fill: #2F65F6;
    }
  }

  &__item-scan:not(:last-child) {
    margin-right: 12px;
  }

  &__item-title {
    font-size: 16px;
    line-height: 20px;
    color: #858584;
    margin-bottom: 10px;
  }

  &__item-content {
    @include montserrat-medium;
    font-size: 16px;
    line-height: 24px;
    color: #222220;
    max-width: 390px;
  }

  .passport-number {
    @include montserrat-medium;
    font-size: 22px;
    line-height: 27px;
    color: #222220;
  }

  &__inner-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 32%;
  }

  &__insurance {
    margin-bottom: 25px;
  }

  #insurance-dropzone,
  #tax-dropzone {
    display: flex;
    align-items: center;

    .dz-message {
      order: 2;
    }

    .dz-preview {
      width: 50px;
      height: 50px;
      margin: 0 12px 0 0;

      img {
        border-radius: 5px;
      }
    }

    .dz-remove {
      color: transparent;
      position: absolute;
      top: -5px;
      right: -5px;
      background: url("../img/svg/delete-avatar.svg") no-repeat;
      width: 16px;
      height: 16px;
      z-index: 100;

      &:hover {
        background: url("../img/svg/delete-avatar-hover.svg") no-repeat;
      }
    }
  }

  &__insurance,
  &__tax {
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    padding: 35px 30px 62px 30px;
  }


  &__insurance-subtitle,
  &__tax-subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #858584;
    margin-bottom: 10px;
  }

  &__insurance-content,
  &__tax-content {
    @include montserrat-medium;
    font-size: 22px;
    line-height: 27px;
    color: #222220;
    margin-bottom: 25px;
  }


}
