.new-organization-page {
  .info-modal__content-text {
    color: #BB1225;
  }
}

.new-organization {
  padding-top: 22px;
  padding-bottom: 143px;

  .general-dropzone-wrapper {

    .new-organization__general-dropzone .dz-image {
      object-fit: cover;
    }

    .new-organization__general-dropzone .dz-preview {
      position: absolute;
      margin: 0;
    }

    .general-dropzone__message-wrapper {
      position: static;
      transform: translateY(0);
      padding-top: 0;
    }
  }

  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 40px;
  }

  &__prompt {
    background: #F4F7FB;
    border-radius: 5px;
    position: relative;
    color: #2F65F6;
    padding: 13px 20px 13px 43px;
    max-width: 876px;
    margin-bottom: 20px;

    p {
      font-size: 16px;
      line-height: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 15px;
      width: 20px;
      height: 20px;
      background: url("../img/deal-prompt-icon.svg") no-repeat;
    }
  }

  &__form {
    max-width: 1070px;
  }

  &__btn {
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #2F65F6;
    background-color: #ffffff;
    border: 1px solid #2F65F6;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
    padding: 13px 22px;

    &:hover {
      background-color: #2F65F6;
      color: #ffffff;
    }
  }

  &__input-wrapper-inn {
    padding-bottom: 40px;
    border-bottom: 1px dotted #C4C4C4;
  }

  &__item {
    margin-bottom: 25px;

    .choices {
      width: 350px;
      border: 1px solid transparent;

      &.is-open {
        border: 1px solid #3E29CA;
      }
    }

    .choices__placeholder {
      opacity: 1;
    }

    .choices__inner {
      border: none;
      background: #F2F1F7;
      @include montserrat-medium;
      font-size: 17px;
      line-height: 21px;
      color: #817D8C;
    }

    .choices[data-type*=select-one] .choices__inner {
      padding-bottom: 16px;
      padding-top: 16px;
      padding-left: 12px;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background-color: #F8F8FA;
      color: #2F65F6;
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
      border: 1px solid #F2F1F7;
      filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
      margin-top: 10px;
    }
  }

  &__list-director {

    li {
      margin-bottom: 13px;
      padding: 14px 10px 19px 15px;
      background: #F7F8FA;
      border-radius: 5px;
      position: relative;
    }

    span {
      display: block;
      margin-bottom: 12px;
    }

    a {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $link;
    }
  }

  &__btn-director-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 21px;
    height: 21px;
    border: none;
    background: none;
    cursor: pointer;

    svg path {
      transition: all .3s;
    }

    &:hover {
      svg path {
        fill: #BC0D48;
      }
    }
  }

  &__warning {
    display: flex;
    align-items: flex-start;
    padding: 16px;
    background: #F4F7FB;
    border-radius: 5px;

    svg {
      min-width: 19px;
      width: 19px;
      margin-top: 2px;
      margin-right: 8px;
    }

    p {
      color: $link;
      line-height: 24px;
    }

  }

  &__item-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &.general-dropzone-wrapper {
      justify-content: flex-start;

    }
  }

  &__input-title {
    color: #858584;
    margin-bottom: 10px;
  }

  &__input {
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    background: #F2F1F7;
    border: none;
    padding: 20px 15px;
    width: 100%;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }

    &::placeholder {
      color: #817D8C;
    }
  }

  &__section {
    margin-top: 35px;
  }

  &__section-title {
    @include montserrat-semibold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 23px;
  }


  .logo-loading {
    width: 351px;
    margin-right: 25px;

    .new-organization__btn {
      width: 100%;
    }

    .new-organization__input {
      margin-bottom: 33px;
    }
  }

  .logo-preview {
    padding-top: 10px;
  }

  &__message-wrapper {
    padding-top: 25px;
  }

  &__general-dropzone {
    width: max-content;
    height: 170px;
    display: flex;

    .dz-preview {
      margin: 12px 20px 0 0;
      width: 350px;
      height: 170px;
      background-color: #FFFFFF;

      img {
        border-radius: 5px;
      }
    }

    .dz-message {
      width: 350px;
      height: 170px;
      color: #858584;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px dashed #C4C4C4;
      border-radius: 5px;

      svg {
        margin-bottom: 13px;
      }

      p {
        max-width: 230px;
        text-align: center;
      }
    }
  }

  &__org-info-section {
    margin-top: 46px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #C4C4C4;
  }

  &__charter-wrapper {
    .new-organization__input {
      width: 50%;
    }
  }

  &__item-director {
    justify-content: stretch;

    .new-organization__input-wrapper:not(:last-child) {
      margin-right: 17px;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }

    & + label::before {
      content: '';
      display: inline-block;
      width: 27px;
      height: 27px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #C4C4C4;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px 15px;
    }

    &:checked + label::before {
      background-image: url("../img/org-mark.svg");
    }
  }


  &__seal-section {
    padding: 40px 0;
    border-bottom: 1px dotted #C4C4C4;
    border-top: 1px dotted #C4C4C4;

    .general-dropzone__message-wrapper {
      margin-bottom: 25px;
    }

    .new-organization__item-wrapper {
      justify-content: flex-start;
    }

    #seal-add {
      width: 351px;

    }

    .general-dropzone {
      height: auto;
    }

    .general-dropzone-wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .new-organization__general-dropzone .dz-preview img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    .new-organization__general-dropzone .dz-message {
      width: 350px;
      height: 170px;
      border-radius: 5px;
      margin-right: 0;
    }


  }

  &__sign-section {
    padding: 0 0 40px;
    border-bottom: 1px dotted #C4C4C4;

    .general-dropzone__message-wrapper {
      margin-bottom: 25px;
    }

    .general-dropzone-wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .new-organization__item-wrapper {
      justify-content: flex-start;
    }

    #sign-add {
      width: 351px;

    }

    .general-dropzone {
      height: auto;
    }

    .general-dropzone-wrapper {
      align-items: flex-start;
    }


    .new-organization__general-dropzone .dz-preview img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    .new-organization__general-dropzone .dz-message {
      background: none;
      border-radius: 5px;
      margin-right: 0;
    }


  }


  &__organization-section {
    .new-organization__section-title {
      margin-bottom: 17px;
    }
  }

  &__desc-wrapper {
    width: 100%;
  }

  &__industries {
    padding-bottom: 40px;
    border-bottom: 1px dotted #C4C4C4;
  }

  &__phones {
    .new-organization__input-wrapper {
      width: 32.5%;
    }
  }

  &__emails {
    .new-organization__input-wrapper {
      width: 32.5%;
    }
  }

  &__sites {
    padding-bottom: 40px;
    border-bottom: 1px dotted #C4C4C4;

    .new-organization__input-wrapper {
      width: 32.5%;
    }
  }

  &__address-physical {
    padding-bottom: 40px;
    border-bottom: 1px dotted #C4C4C4;
  }

  textarea.new-organization__input {
    resize: none;
    height: 100%;
  }

  &__address {
    input:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__address-item {
    margin-bottom: 35px;
  }


  &__address-wrapper {
    width: 348px;
    margin-right: 10px;
  }


  &__checkbox-group {
    display: flex;
    padding: 20px 0;

    .new-organization__checkbox-wrapper:not(:last-child) {
      margin-right: 30px;
    }
  }


  &__textarea-wrapper {
    width: 66.1%;
    align-self: stretch;
  }

  &__requisites {
    padding-bottom: 40px;
    border-bottom: 1px dotted #C4C4C4;
    display: flex;
    justify-content: space-between;

    .new-organization__input-wrapper {
      width: 32.5%;
    }
  }

  &__requisites-item {
    margin-top: 27px;
  }

  &__bank-account {
    padding-bottom: 17px;
    border-bottom: 1px dotted #C4C4C4;
  }


  &__bank-item {
    margin-top: 18px;
    margin-bottom: 32px;
  }

  &__bank-account {
    .new-organization__input-wrapper {
      width: 32.5%;
    }

    .new-organization__checkbox-wrapper {
      width: 100%;
    }
  }

  &__remove-account-btn {
    cursor: pointer;
    border: none;
    background: none;
    transition: all .3s;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    color: #2F65F6;
    margin: 7px 0 20px;

    &:hover {
      color: #264DDB;
    }
  }

  &__add-account {
    padding-bottom: 44px;
    border-bottom: 1px dotted #C4C4C4;
  }

  &__btns {
    margin-top: 48px;
    display: flex;
    align-items: center;
  }

  &__save-btn {
    margin-right: 20px;
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #2F65F6;
    border-radius: 5px;
    border: none;
    padding: 18px 28px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #264DDB;
    }
  }

  &__close-btn {
    @include montserrat-bold;
    font-size: 20px;
    line-height: 24px;
    color: #2F65F6;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: #264DDB;
    }
  }


}
