.only-templates {
  .container {
    padding-top: 33px;
    padding-bottom: 150px;
  }

  &__title {
    padding-bottom: 11px;
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }

  &__filter-links {
    padding: 5px 0 13px;
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: block;
    margin: 10px 24px 0 0;
    line-height: 20px;
    background-color: #ffffff;
    border-bottom: 2px dotted #2F65F6;
    color: #2F65F6;
    cursor: pointer;

    &.active {
      font-weight: 600;
      border-color: transparent;
      pointer-events: none;
    }
  }

  &__select-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter-sort {
    margin-right: 60px;
  }

  &__filter-left {
    width: 500px;
  }

  &__filter-right {
    display: flex;
    align-items: center;

    .main-sort {
      height: 40px;
      margin-right: 20px;

      .choices {
        height: 40px;

        .choices__inner {
          padding: 3.5px 7.5px 3.75px;
          font-size: 16px;
        }
      }


    }
  }

  &__link-add {
    min-width: 190px;
    max-width: 200px;
    height: 40px;
    color: #ffffff;
    background-color: #2F65F6;
    border-radius: 5px;
    border: none;
    @include montserrat-medium;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: #264DDB;
    }
  }

  &__select-wrap {
    width: 49%;

    &:not(:last-child) {
      margin-right: 15px;
    }

    .choices__placeholder {
      font-size: 16px;
      color: #858584;
      opacity: 1;
    }

    .choices[data-type*="select-one"]::after {
      border-width: 7px;
      border-color: #817d8c transparent transparent transparent;
    }

    .choices {
      width: 100%;

      border: 1px solid transparent;

      &.is-open {
        border: 1px solid #3e29ca;
        border-radius: 5px;
      }
    }

    .choices[data-type*="select-one"].is-open::after {
      margin-top: -2px;
    }

    .choices__inner {
      min-height: auto;
      height: 40px;
      padding: 0 7.5px 0;
      font-size: 17px;
      line-height: 32px;
      color: #858584;
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
    }

    .choices__list[aria-expanded] .choices__item {
      font-size: 16px;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background: #f8f8fa;
      border-radius: 5px;
    }

    .choices__item.choices__item--choice.is-selected.choices__item--selectable {
      color: #2f65f6;
    }

    .choices__list--dropdown,
    .choices__list[aria-expanded] {
      border: 1px solid #f8f8fa;
      filter: drop-shadow(0px 0px 20px rgba(10, 35, 91, 0.15));
      margin-top: 10px;
    }
  }

  &__table-wrap {
    margin-top: 20px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    color: #000000;

    &__head {
      tr {
        color: #858584;
      }


    }

    tr {
      border-bottom: 5px solid #ffffff;
      border-radius: 5px;
      background: #F7F8FA;

      a {
        color: #2F65F6;
      }
    }

    td {
      padding: 14px 10px 16px 14px;
      word-break: break-word;

      &:nth-child(1) {
        width: 64px;
      }

      &:nth-child(2) {
        width: 14.1%;
      }

      &:nth-child(3) {
        width: 17.2%;
      }

      &:nth-child(4) {
        width: 30%;
      }

      &:nth-child(5) {
        width: 14%;
      }

      &:nth-child(6) {
        width: 19%;
        padding-right: 20px;
      }
    }

  }

  .pagination {
    justify-content: start;
    margin-top: 180px;
    margin-left: -15px;
    padding-left: 0;

  }
}
