.page-organizations {
  padding-bottom: 130px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
  }

  &__btn {
    background: $link;
    border-radius: 5px;
    border: none;
    @include montserrat-semibold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    padding: 10px 26px;
    cursor: pointer;

    &:hover {
      background: #264DDB;
    }
  }

  .flex-table {
    &__double-row {
      &:nth-child(even) {
        .flex-table__row-content {
          background: #F7F8FA;
        }
      }
    }

    &__row {
      margin-bottom: 6px;
      padding: 0 24px;
      border-radius: 5px;

      &.mobile {
        display: none;
      }
    }

    &__row-title {
      padding-top: 15px;
      padding-bottom:  12px;
      background-color: #F7F8FA;

      .flex-table__cell {
        color: #858584;
      }
    }

    &__row-content {
      padding-top: 18px;
      padding-bottom: 19px;
      .flex-table__cell-1{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;}
    }

    &__owner-label {
      display: block;
      @include montserrat-semibold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      background-color: $link;
      padding: 3px 14px;
      border-radius: 20px;
      width: 115px;
      margin-top: 10px;
    }

    &__cell {
      color: #000000;
      min-width: 15%;
    }

    &__cell-1 {
     min-width: 44%;
    }
  }
}
