.organization-info {
  color: #000000;

  .minititle {
    line-height: 24px;
    color: #858584;
  }

  .information {
    .minititle {
      min-width: 160px;
    }

    .text {
      max-width: 840px;
      margin-left: 20px;
      line-height: 24px;
      color: #222220;
    }

    &__title-wrap {
      display: flex;
      justify-content: space-between;
      padding: 8px 0 30px;
      flex-wrap: wrap;
    }

    &__edit-btn {
      width: 190px;
      height: 40px;
      display: inline-block;
      margin-top: 10px;
      padding: 10px 20px;
      background: #2F65F6;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
    }

    &__title {
      padding: 10px 10px 0 0;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }

    &__row {
      display: flex;
      margin-top: 25px;

      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  .contacts {
    .container {
      padding-top: 25px;
    }

    &__title {
      padding: 20px 0 29px;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
    }

    .minititle {
      min-width: 165px;
    }

    .text {
      margin-left: 16px;
      line-height: 24px;
    }

    &__row {
      display: flex;
      margin-top: 24px;

      &:nth-child(2) {
        margin-top: 0;
      }

      a {
        margin-left: 16px;
        color: #2F65F6;
      }
    }
  }

  .slider {
    .container {
      padding: 30px 15px 150px;
    }

    &__title {
      padding: 18px 0 15px;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;

    }

    .swiper-wrapper {
      box-sizing: border-box;
    }

    .swiper-slide {
      padding: 25px 26px 21px;
      background: #F7F8FA;
      border-radius: 15px;
      cursor: grab;
    }

    .swiper-title {
      width: max-content;
      padding: 0 0 15px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;


      &.active {
        color: #2F65F6;
        position: relative;

        &::after {
          content: '';
          display: flex;
          width: 16px;
          height: 16px;
          position: absolute;
          right: -22px;
          top: 3px;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 9C2.1 10.8 4.49999 14 5.89999 16.4C9.09999 10.5 12.4 5.79998 15.9 1.59998L14.8 0.400024C11.9 3.40002 8.20001 8.29999 5.70001 12.3C4.50001 10.7 3.20001 9.30001 1.70001 7.70001L0.5 9Z' fill='%232F65F6'/%3e%3c/svg%3e ");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }


      }
    }

    .swiper-row {
      display: flex;
      margin-top: 18px;

      &:nth-child(2) {
        margin-top: 0;

      }

      .minititle {
        width: 42px;
        font-size: 14px;
        line-height: 17px;
        cursor: text;
      }

      .text {
        width: 265px;
        margin-left: 10px;
        font-size: 14px;
        line-height: 17px;
        cursor: text;
      }
    }

    .swiper-pagination {
      display: none;
    }

    .swiper-pagination-bullet-active {
      background-color: #2F65F6;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 0;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      content: none;
    }


    .swiper-button-prev {
      width: 34px;
      left: 26px;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='34' height='25' viewBox='0 0 34 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.0595 0.801008C8.35953 4.40101 4.75953 8.10101 1.05953 11.801C0.559528 12.301 0.559528 13.0011 1.05953 13.5011C4.65953 17.2011 8.35955 20.801 11.9596 24.401C12.2596 24.701 12.5596 24.801 12.9596 24.701C13.4596 24.601 13.7596 24.401 13.9596 23.901C14.1596 23.401 14.0595 23.0011 13.6595 22.6011L4.95955 13.801L32.4596 13.801C32.5596 13.801 32.6595 13.801 32.7595 13.801C33.3595 13.801 33.8596 13.301 33.8596 12.701C33.9596 12.101 33.5595 11.6011 33.0595 11.5011C32.8595 11.4011 32.5595 11.401 32.2595 11.401C26.2595 11.401 20.2595 11.401 14.2595 11.401L5.05953 11.401L8.85958 7.50108C10.5596 5.80108 12.1595 4.20108 13.7595 2.50108C14.2595 2.00108 14.2596 1.30101 13.8596 0.801008C13.2596 0.401008 12.4595 0.301008 12.0595 0.801008Z' fill='%23D3D3D3'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .swiper-button-next {
      width: 34px;
      right: 26px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='34' height='25' viewBox='0 0 34 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.4991 24.4C26.1991 20.8 29.7991 17.1 33.4991 13.4C33.9991 12.9 33.9991 12.2 33.4991 11.7C29.8991 7.99997 26.199 4.40007 22.599 0.800066C22.299 0.500066 21.999 0.400017 21.599 0.500017C21.099 0.600017 20.799 0.800066 20.599 1.30007C20.399 1.80007 20.4991 2.19999 20.8991 2.59999L29.599 11.4H2.09904C1.99904 11.4 1.89912 11.4 1.79912 11.4C1.19912 11.4 0.699018 11.9 0.699018 12.5C0.599018 13.1 0.999067 13.6 1.49907 13.7C1.69907 13.8 1.99912 13.8001 2.29912 13.8001C8.29912 13.8001 14.2991 13.8001 20.2991 13.8001H29.4991L25.699 17.7C23.999 19.4 22.3991 21 20.7991 22.7C20.2991 23.2 20.299 23.9 20.699 24.4C21.299 24.8 22.0991 24.9 22.4991 24.4Z' fill='%23D3D3D3'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
