.organization-journal {
  color: #000000;

  .container {
    padding-bottom: 50px;
  }

  .journal {
    &__title {
      padding: 19px 0 27px;
      @include montserrat-semibold;
      font-size: 36px;
      line-height: 44px;
    }
    .flex-wrapper {
      flex-wrap: wrap;
    }
    .main-sort {
      margin-bottom: 15px;
    }

    .flex-table {

      &__row {
        margin-bottom: 5px;
        padding: 14px 20px 15px 14px;
        border-radius: 5px;
        background: #F7F8FA;

        &.mobile {
          display: none;
        }
      }

      &__row-title {
        .flex-table__cell {
          color: #858584;
        }

      }

      &__cell {
        color: #000000;

        a {
          color: #2f65f6;
        }
      }

      &__cell-1 {
        min-width: 200px;
        max-width: 22%;
      }

      &__cell-2 {
        min-width: 160px;
        max-width: 22.3%;
      }

      &__cell-3 {
        min-width: 425px;
        max-width: 44.5%;
      }

      &__cell-4 {
        width: 11.2%;
        white-space: nowrap;
      }
    }
  }
}
