.page-organizations {
  padding-bottom: 130px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &__title {
    @include montserrat-semibold;
    font-size: 36px;
    line-height: 44px;
  }

  &__btn {
    background: $link;
    border-radius: 5px;
    border: none;
    @include montserrat-semibold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    padding: 10px 26px;
    cursor: pointer;

    &:hover {
      background: #264DDB;
    }
  }


  .org-table {
    justify-content: space-between;
    flex-direction: column;
    display: flex;

    &__owner-label {
      display: block;
      @include montserrat-semibold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      background-color: $link;
      padding: 3px 14px;
      border-radius: 20px;
      width: 115px;
      margin-top: 10px;
    }

    &__row {
      display: flex;
      padding: 21px 25px;
    }

    &__cell {
      width: 100%;
      flex: 1 1 auto;
      @include montserrat-regular;
      font-size: 16px;
      line-height: 20px;
      color: #222220;
      padding-right: 20px;
    }

    &__row:nth-child(odd) {
      background-color: #F7F8FA;
    }

    &__agency {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }


    &__row-title {
      padding: 13px 25px;
      .org-table__cell {
        color: #858584;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__reg {
      max-width: 15%;
    }

    &__employees {
      max-width: 15%;
    }

    &__counterparties {
      max-width: 15%;
    }

    &__deals {
      max-width: 11%;
    }

  }


}
