.signing-document {
  .signing-doc {
    .container {
      padding-top: 33px;
    }

    color: #000000;

    &__wrapper {
      max-width: 850px;
    }

    &__title {
      margin-bottom: 33px;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }

    &__description {
      margin-bottom: 30px;

      a {
        color: $link;
      }
    }

    &__select-wrap {
      min-width: 526px;
      width: 526px;
      margin-bottom: 35px;

      .choices__inner {
        padding: 3.75px 7.5px 3.75px;
        min-height: unset;
        height: 40px;
      }
    }

    &__label {
      margin-bottom: 5px;
      color: #858584;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__btn {
      display: block;
      margin-bottom: 15px;
      padding: 9px 17px;
      border: none;
      background: none;
      color: $link;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      border-radius: 5px;
      cursor: pointer;
    }

    &__btn-submit {
      border: 1px solid $link;
    }
  }

}
