.user-activated {
  .container {
    padding-top: 44px;
    padding-bottom: 100px;
  }

  &__title-row {
    display: flex;
    align-items: center;
    svg {
      margin-right: 8px;
    }
    h1 {
      @include montserrat-semibold;
      line-height: 28px;
    }
  }
}
