@media(max-width: 1200px){
  .one-mail .container {
    flex-direction: column-reverse;
  }
  .one-mail .mail__right {
    margin-bottom: 20px;
  }

}

@media(max-width: 992px){
  .one-mail .mail__btn-add {
    margin-left: 0;
  }
  .one-mail .mail__info {
    flex-wrap: wrap;
  }
}
