@media(max-width: 1350px) {
  .income-traffic-page .traffic__calendar .minititle {
    margin: 0 0 5px 0;
  }

  .income-traffic-page .traffic__select-row {
    align-items: flex-start;
  }

  .income-traffic-page .traffic__select-wrap.agent,
  .income-traffic-page .traffic__select-wrap.deal,
  .income-traffic-page .traffic__select-wrap.years,
  .income-traffic-page .traffic__select-wrap.quarter {
    margin-top: 24px;
  }

  .income-traffic-page .traffic__calendar {
    flex-direction: column;
    order: 5;
  }
}

@media(max-width: 1024px) {

  .income-traffic-page .traffic .title,
  .income-traffic-page .traffic .title__select-wrap .choices__inner {
    font-size: 26px;
  }

  .income-traffic-page .traffic .title__select-wrap .choices__list--dropdown .choices__item,
  .income-traffic-page .traffic .title__select-wrap .choices__list[aria-expanded] .choices__item {
    font-size: 18px;
  }

  .income-traffic-page .traffic__select-row {
    flex-wrap: wrap;
  }

  .income-traffic-page .traffic__select-wrap.agent,
  .income-traffic-page .traffic__select-wrap.deal,
  .income-traffic-page .traffic__select-wrap.years,
  .income-traffic-page .traffic__select-wrap.quarter {
    margin-bottom: 20px;
  }

}

@media(max-width: 992px) {

  .income-traffic-page .traffic .title__select-wrap .choices__list--dropdown,
  .income-traffic-page .traffic .title__select-wrap .choices__list[aria-expanded] {
    width: max-content;
  }

  .income-traffic-page .traffic .title__select-wrap .choices__list--single .choices__item {
    word-wrap: break-word;
  }
  .income-traffic-page .traffic .title__select-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .income-traffic-page .traffic .title__select-wrap .choices__list[aria-expanded] .choices__item {
    padding-right: 20px;
  }
}
@media(max-width: 768px) {
  .income-traffic-page .traffic .title__select-wrap {
    width: 100%;
  }
  .income-traffic-page .traffic .title__select-wrap .choices__list--dropdown,
  .income-traffic-page .traffic .title__select-wrap .choices__list[aria-expanded] {
    width: auto;
  }
}
@media (min-width: 640px) {
   .income-traffic-page .choices__list--dropdown .choices__item--selectable,
   .income-traffic-page .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
}
@media(max-width: 576px) {
  .income-traffic-page .traffic__title-row {
    flex-direction: column;
  }

  .income-traffic-page .traffic .title__select-wrap .choices__inner {
    padding-left: 0;
    font-size: 23px;
  }

  .income-traffic-page .traffic__select-row {
    flex-direction: column;
  }

  .income-traffic-page .traffic .title__select-wrap .choices__list.choices__list--single {
    padding-left: 0;
  }

  .income-traffic-page .traffic__select-wrap.agent,
  .income-traffic-page .traffic__select-wrap.deal,
  .income-traffic-page .traffic__select-row .traffic__select-wrap.years,
  .income-traffic-page .traffic__select-row .traffic__select-wrap.quarter {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
  }
}

