@media (max-width: 1400px) {

  .page-journal .journal-table__author {
    max-width: 19%;
  }

  .page-journal .journal-table__type {
    max-width: 19%;
  }

  .page-journal .journal-table__time {
    max-width: 18%;
  }
}

@media (max-width: 1280px) {

  .page-journal .journal-table__time {
    max-width: 22%;
  }
}

@media (max-width: 1024px) {

  .page-journal {
    padding: 20px 0 150px;
  }

  .page-journal__table-container {
    padding: 0 0;
  }

  .page-journal .journal-table__row {
    padding: 20px 20px;
  }

  .page-journal .journal-table__cell:not(.journal-table__type) {
    font-size: 14px;
    text-align: center;
  }

  .page-journal .journal-table__type {
    max-width: 20%;
  }


}

@media (max-width: 768px) {
  .page-journal .journal-table {
    overflow-x: auto;
  }

  .page-journal .journal-table__row {
    min-width: 770px;
  }
}
