@media (max-width: 1710px) {
  .only-documents .list-doc__row-title-right {
    width: 36.5%;
  }
}


@media (max-width: 1400px) {
  .only-documents .list-doc__row-content {
    justify-content: flex-start;
  }
}

@media (max-width: 1280px) {
  .only-documents .list-doc__column {
    margin-bottom: 10px;
  }
}


@media (max-width: 1200px) {
  .only-documents .list-doc__column:nth-child(n) {
    min-width: 30%;
    width: 30%;
    margin-right: 20px;
  }
  .only-documents .list-doc__row-content {
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .only-documents .list-doc__row-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .only-documents .list-doc__row-title-left {
    margin-bottom: 20px;
  }
  .only-documents .list-doc__row-title-right {
    width: 100%;
  }

  .only-documents .list-doc__column:nth-child(n) {
    min-width: 45%;
    width: 45%;
  }

  .only-documents .only-documents__title {
    font-size: 32px;
  }

}

@media (max-width: 900px) {
  .only-documents__select-flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .only-documents__filter-right {
    margin-left: 0;
    width: 100%;
  }

  .only-documents__select-wrap {
    margin-right: 0;
    margin-bottom: 15px;
  }

}

@media (max-width: 768px) {
  .only-documents .only-documents__title {
    font-size: 28px;
  }

  .only-documents .pagination {
    margin-top: 60px;
  }

  .only-documents .list-doc__row-content {
    flex-direction: column;
  }
  .only-documents .list-doc__column:nth-child(n) {
    min-width: unset;
    width: 100%;
    margin-right: 0;

    a {
      max-width: max-content
    }
  }
  .only-documents .list-doc__row-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .only-documents .list-doc__status.active {
    margin-top: 10px;
  }
}

@media (max-width: 578px) {
  .only-documents__select-flex,
  .only-documents .only-documents__filter-links {
    flex-direction: column;
  }
  .only-documents__select-wrap {
    width: 100%;
    margin-right: 0;
  }
  .only-documents__select-wrap:last-of-type {
    margin-top: 20px;
  }

  .only-documents__filter-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .only-documents__filter-sort {
    margin-bottom: 15px;
  }


  .only-documents .list-doc__row-title-right {
    flex-direction: column;
    align-items: flex-start;
  }
  .only-documents .list-doc__row-title-right p {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .only-documents .only-documents__link {
    width: max-content;
  }

  .only-documents .only-documents__select-wrap {
    width: 100%;
  }
  .only-documents .pagination {
    margin-left: 0;
  }
}
