@media (max-width: 1480px) {
  .only-templates .list-doc__row-content {
    flex-direction: column;
  }
  .only-templates .list-doc__colomn {
    min-width: 33%;
  }
}

@media (max-width: 1024px) {
  .only-templates .only-templates__title {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  .only-templates .list-doc__item {
    overflow-x: scroll;
  }
  .only-templates .list-doc__row-content {
    min-width: 808px;
  }
}

@media (max-width: 768px) {
  .only-templates .only-templates__title {
    font-size: 28px;
  }
  .only-templates .list-doc__row-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .only-templates .list-doc__row-title a {
    margin-top: 10px;
  }
  .only-templates .list-doc__status.active {
    margin-top: 10px;
  }
}

@media (max-width: 578px) {
  .only-templates .only-templates__select-wrap {
    width: 100%;
  }
}
