@media(max-width: 1400px) {

  .organization-journal .journal .flex-table__cell-1,
  .organization-journal .journal .flex-table__cell-2 {
    max-width: 17%;
  }

  .organization-journal .journal .flex-table__cell-3 {
    min-width: 400px;
    max-width: 44%;
  }
}

@media (max-width: 992px) {
  .organization-journal .journal__title {
    font-size: 32px;
  }

  .organization-journal .journal .flex-table__cell-1 {
    min-width: 140px;
  }

  .organization-journal .journal .flex-table__cell-3 {
    min-width: 313px;
  }

  .organization-journal .journal .flex-table__cell-4 {
    white-space: pre-line;
  }
}

@media (max-width: 768px) {
  .organization-journal .journal__title {
    font-size: 26px;
  }

  .organization-journal .journal .flex-table__row-title.mobile {
    display: flex;
  }
  .organization-journal .journal .flex-table__row-title.desktop {
    display: none;
  }
  .organization-journal .journal .flex-table__row {
    flex-direction: column;
  }

  .organization-journal .journal .flex-table__double-row {
    display: flex;
    margin: 0 -20px;
    border-top: 1px solid #E6E6E6;

  }

  .organization-journal .journal .flex-table__row {
    padding-left: 0;
    background-color: #ffffff;

  }

  .organization-journal .journal .flex-table__row-title {
    padding-left: 20px;
  }
  .organization-journal .journal .flex-table__row-content {
    padding-right: 10px;
    width: 100%;
  }

  .organization-journal .journal .flex-table__row-title .flex-table__cell-1,
  .organization-journal .journal .flex-table__row-title .flex-table__cell-2,
  .organization-journal .journal .flex-table__row-title .flex-table__cell-3,
  .organization-journal .journal .flex-table__row-title .flex-table__cell-4 {
    min-width: 170px;
  }

  .organization-journal .journal .flex-table__cell-1,
  .organization-journal .journal .flex-table__cell-2,
  .organization-journal .journal .flex-table__cell-3,
  .organization-journal .journal .flex-table__cell-4 {
    min-width: auto;
    max-width: 100%;
    width: 100%;
  }
  .organization-journal .journal .flex-table__cell {
    margin-bottom: 10px;
    padding-right: 0;
    height: 40px;
  }
  .organization-journal .journal .flex-table__cell,
  .organization-journal .journal .flex-table__cell a {
    font-size: 10px;
  }
  .organization-journal .journal .flex-table__cell-4 {
    white-space: nowrap;
  }
}

@media (max-width: 576px) {
  .organization-journal .journal__title {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .organization-journal .journal .flex-table__row-title {
    padding-right: 15px;
  }

  .organization-journal .journal .flex-table__row-title .flex-table__cell-1, .organization-journal .journal .flex-table__row-title .flex-table__cell-2, .organization-journal .journal .flex-table__row-title .flex-table__cell-3, .organization-journal .journal .flex-table__row-title .flex-table__cell-4 {
    min-width: 100px;
  }
}


