@media (max-width: 1400px) {
  .correspondence-outside {
    padding-top: 0;
  }

   .correspondence-outside .newmails .search__input {
    width: 100%;
  }

  .correspondence-outside .newmails .search__wrap {
    min-width: 225px;
  }
}

@media (max-width: 1024px) {
  .correspondence-outside .newmails__title {
    font-size: 32px;
  }

  .correspondence-outside .newmails .search__form {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .correspondence-outside .newmails .search__input {
    margin-bottom: 10px;
  }

  .correspondence-outside .newmails .search__wrap {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .correspondence-outside .newmails .search {
    flex-direction: column;
    align-items: flex-start;
  }

  .correspondence-outside .newmails .search__btn {
    align-self: flex-end;
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .correspondence-outside .newmails__top-wrapper {
    flex-wrap: wrap;
  }

  .correspondence-outside .newmails__title {
    font-size: 28px;
  }

  .correspondence-outside .newmails .newmails__list-content.wrap {
    word-wrap: break-word;
  }
}
