@media(max-width: 1400px) {
  .deal-story .aside {
    margin-left: 20px;
    min-width: 350px;
    max-width: 350px;
  }
}

@media (max-width: 1280px) {
  .deal-story > .container {
    flex-direction: column;
    margin-top: 0;
  }

  .deal-story .aside {
    margin: 20px auto;
    max-width: 100%;
    min-width: 100%;
  }

  .deal-story .aside__card {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .deal-story .one-deal h1 {
    font-size: 32px;
  }

  .deal-story .one-deal .table-wrap {
    overflow-x: scroll;
  }
}

@media (max-width: 768px) {
  .deal-story .one-deal__title {
    margin-bottom: 0;
  }
  .deal-story .one-deal h1 {
    font-size: 26px;
  }

  .deal-story .one-deal .container {
    padding-bottom: 30px;
  }

  .deal-story .one-deal__row {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .deal-story .one-deal .search {
    padding: 30px 0 25px;
  }

  .deal-story .one-deal__item {
    margin: 15px 0 0;
  }
  .deal-story .one-deal .search {
    flex-direction: column;
  }
  .deal-story .one-deal .search__wrap {
    margin: 10px 0 0;
  }
}

@media (max-width: 400px) {
  .deal-story .one-deal h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .deal-story .one-deal .container {
    padding-bottom: 0;
  }

  .deal-story .aside {
    overflow: hidden;
  }

  .deal-story .aside__card {
    padding: 20px;
  }

}
