@media (max-width: 1400px) {
  .template-item-page__content {
    margin-right: 20px;
  }
}

@media (max-width: 1280px) {
  .template-item-page .top .container {
    flex-wrap: wrap;
  }
  .template-item-page .top .case-item__btn {
    margin-right: 0;
  }
  .template-item-page__sidebar {
    margin-right: 0;
    min-width: 410px;
  }
}

@media (max-width: 1024px) {
  .template-item-page {
    padding-bottom: 150px;
  }

  .template-item-page .container {
    flex-direction: column;
    align-items: initial;
  }

  .template-item-page__content {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .template-item-page__sidebar {
    margin-right: 0;
    min-width: auto;
    width: auto;
    max-width: 520px;
  }
}

@media (max-width: 768px) {
  .template-item-page {
    padding-bottom: 70px;
  }

  .template-item-page .top h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .template-item-page .template-item-table {
    overflow-x: auto;
  }

  .template-item-page .template-item-table .flex-table__row {
    min-width: 860px;
  }
}

@media (max-width: 500px) {
  .template-item-page__char {
    flex-direction: column;
    margin-bottom: 5px;
  }
}
