@media (max-width: 1710px) {
  .deals .deals-table__status {
    margin-left: 40px;
    padding-left: 15px;
    padding-right: 20px;
  }
  .deals .deals-table__cell {
    margin-left: 17px;
  }
}

@media(max-width: 1400px) {

  .deals {
    .deals-table {
      &__cell {

        &:nth-child(1) {
          min-width: auto;
          width: 13%;
        }

        &:nth-child(2) {
          min-width: auto;
          width: 11%;
        }

        &:nth-child(3) {
          min-width: auto;
          width: 11%;
        }

        &:nth-child(4) {
          min-width: auto;
          width: 11%;
        }

        &:nth-child(5) {
          min-width: auto;
          width: 11%;
        }

        &:nth-child(6) {
          min-width: auto;
          width: 7%;
        }

        &:nth-child(7) {
          min-width: auto;
          width: 10%;
        }

      }

    }
  }

}

@media(max-width: 1200px) {

  .deals .top .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .deals .top .container {
    flex-direction: column;
  }
  .deals .top .search {
    margin-left: 0;
    justify-content: flex-start;

  }
  .deals .deals-list .container {
    overflow-x: scroll;
  }
  .deals .deals-table {
    min-width: 1010px;
  }
}


@media(max-width: 768px) {
  .deals .top .search {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .deals .top .search__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .deals .top .search__btn {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .deals .top .search__wrap {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
