@media (max-width: 1200px) {
  .page-organizations .flex-table__cell-3,
  .page-organizations .flex-table__cell-4,
  .page-organizations .flex-table__cell-5 {
    text-align: center;
  }
}

@media (max-width: 992px) {

  .page-organizations__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-organizations__title {
    margin-bottom: 20px;
  }
  .page-organizations .flex-table__cell,
  .page-organizations .flex-table__row-content .flex-table__cell-1 {
    font-size: 14px;
  }

  .page-organizations .flex-table__cell {
    min-width: 13%;
  }

  .page-organizations .flex-table__cell-1 {
    min-width: 40%;
  }

  .page-organizations .flex-table__row {
    padding-right: 10px;
    padding-left: 10px;
  }

  .flex-table__cell:not(:last-child) {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .page-organizations {
    padding-bottom: 15px;
  }
  .page-organizations__top {
    margin-bottom: 15px;
  }

  .page-organizations .flex-table__double-row[data-sort-name="title"] {
    display: none;
  }

  .page-organizations .flex-table__row {
    background: #FFFFFF;
  }

  .page-organizations__top-right {
    flex-direction: column;
    align-items: flex-start;

    .main-sort {
      margin-bottom: 30px;
    }
  }

  .page-organizations .page-organizations__title {
    font-size: 24px;
  }

  .page-organizations .flex-table__row-title.mobile {
    display: flex;
  }

  .page-organizations .flex-table__row {
    flex-direction: column;
  }

  .page-organizations .flex-table__double-row {
    display: flex;
    margin: 0 -20px;
    border-top: 1px solid #E6E6E6;
  }

  .page-organizations .flex-table__row {
    padding-left: 0;
  }
  .page-organizations .flex-table__owner-label {
    display: inline-block;
    margin-top: 0;
    font-size: 7px;
    line-height: 7px;
    width: 53px;
    height: 11px;
    text-align: center;
    padding: 2px 3px;
  }
  .page-organizations .flex-table__double-row:nth-child(even) .flex-table__row-content,
  .page-organizations .flex-table__row-title {
    background-color: #fff;
  }

  .page-organizations .flex-table__row-title {
    padding-left: 20px;
  }

  .page-organizations .flex-table__row-content {
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 15px;
  }

  .page-organizations .flex-table__row-title .flex-table__cell-1,
  .page-organizations .flex-table__row-title .flex-table__cell-2,
  .page-organizations .flex-table__row-title .flex-table__cell-3,
  .page-organizations .flex-table__row-title .flex-table__cell-4,
  .page-organizations .flex-table__row-title .flex-table__cell-5 {
    width: 170px;
  }


  .page-organizations .flex-table__cell-1,
  .page-organizations .flex-table__cell-2,
  .page-organizations .flex-table__cell-3,
  .page-organizations .flex-table__cell-4,
  .page-organizations .flex-table__cell-5 {
    min-width: auto;
    max-width: 100%;
    width: 100%;
    text-align-last: left;
  }


  .page-organizations .flex-table__cell {
    margin-bottom: 10px;
    padding-right: 0;
    font-size: 12px;
    flex: 0 1 auto;
    height: 40px;
    line-height: 20px;
  }

  .page-organizations .flex-table__row-content .flex-table__cell-1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .page-organizations .pagination {
    display: none;
  }
}

@media (max-width: 576px) {
  .page-organizations .flex-table__cell,
  .page-organizations .flex-table__row-content .flex-table__cell-1 {
    font-size: 10px;
  }
  .page-organizations .flex-table__row-title .flex-table__cell-1,
  .page-organizations .flex-table__row-title .flex-table__cell-2,
  .page-organizations .flex-table__row-title .flex-table__cell-3,
  .page-organizations .flex-table__row-title .flex-table__cell-4,
  .page-organizations .flex-table__row-title .flex-table__cell-5 {
    width: 90px;
  }

  .page-organizations .page-organizations__title {
    font-size: 16px;
  }
  .page-organizations .page-organizations__btn {
    font-size: 10px;
  }
}
