@media (max-width: 1480px) {
  .deals-documents__buttons a,
  .deals-documents__buttons button:not(:last-of-type) {
    margin-right: 35px;
  }

  .deals-documents__buttons a, .deals-documents__buttons button:not(:last-of-type) {
    margin-right: 15px;
  }

  .deals-documents__buttons span {

    margin-right: 30px;
    margin-left: 15px;
  }

  .deals-documents__buttons {
    width: 380px;
  }

  .deals-documents .deals-documents-table__type {
    min-width: 21%;
    width: 21%;
  }


}

@media (max-width: 1280px) {
  .deals-documents .container {
    flex-direction: column;
    align-items: center;
  }

  .deals-documents__content {
    margin-bottom: 50px;
    min-width: 100%;
  }
}

@media (max-width: 1024px) {

  .deals-documents__info {
    flex-direction: column;
    align-items: flex-start;
  }

  .deals-documents__buttons {
    justify-content: flex-start;
  }

  .deals-documents__filter-form {
    flex-direction: column;
  }
  .deals-documents__filter-inputs {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .deals-documents__filter-form {
    width: auto;
  }

  .deals-documents__top-controllers {
    flex-direction: column;
    align-items: flex-start;
  }


  .deals-documents__info-treaty {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .deals-documents__content {
    max-width: 100%;
  }
  .deals-documents .deals-documents-table {
    overflow-x: auto;
  }
  .deals-documents .deals-documents-table__row {
    min-width: 920px;
  }
}

@media (max-width: 768px) {
  .deals-documents {
    padding: 17px 0 150px;
  }

  .deals-documents__filter-inputs {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }


  .deals-documents .deals-documents__filter-sort {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .deals-documents__search-input,
  .deals-documents .choices {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .deals-documents__title {
    font-size: 26px;
  }

  .deals-documents__flex-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .deals-documents__flex-wrapper.title {
    margin-bottom: 20px;
  }
  .deals-documents__info-status {
    margin-left: 0;
  }
  .deals-documents__term span:first-child {
    display: none;
  }
  .deals-documents__caption-list {
    flex-direction: column;

  }
  .deals-documents__caption-list li {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .deals-documents__info .deals-documents__buttons a,
  .deals-documents__info .deals-documents__buttons button:not(:last-of-type) {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .deals-documents__info .deals-documents__buttons {
    flex-wrap: wrap;
  }
  .deals-documents__info {
    margin-bottom: 0;
  }
  .deals-documents__info .deals-documents__buttons a,
  .deals-documents__info .deals-documents__buttons button,
  .deals-documents__term-svg {
    margin-bottom: 16px;
  }
}

@media (max-width: 420px) {
  .deals-documents .choices {
    width: 100%;
  }


  .deals-documents__title {
    font-size: 22px;
    line-height: 30px;
  }
}
