@media(max-width: 1200px) {
  .create-template-page .create-template__select-wrap .help-popup {
    max-width: 380px;
  }
  .create-template-page .instructions__title-block .help-popup {
    left: -290px;
  }
}

@media(max-width: 1024px) {
  .create-template-page .instructions__btn {
    min-width: auto;
    width: 100%;
    height: auto;
    justify-content: center;

    span {
      display: block;
    }
  }
  .create-template-page .create-template .container h1 {
    font-size: 32px;
  }
  .create-template-page .create-template__cancel-btn,
  .create-template-page .create-template__save-btn {
    min-width: 289px;
    width: 289px;
  }
}

@media(max-width: 992px) {
  .create-template-page .create-template__select-wrap .help-block {
    width: 24px;
    height: 35px;
    right: -35px;
  }
  .create-template-page .create-template__select-wrap .help-popup {
    top: 30px;
    left: -130px;
    max-width: 420px;
  }

  .create-template-page .instructions__title-block .help-popup {
    left: -390px;
  }

  .create-template-page .create-template__save-btn,
  .create-template-page .create-template__publish-btn,
  .create-template-page .create-template__cancel-btn{
    font-size: 18px;
  }

}

@media(max-width: 768px) {
  .create-template-page .create-template .container h1 {
    font-size: 28px;
  }
  .create-template-page .create-template .container {
    padding-bottom: 100px;
  }
  .create-template-page .create-template__wrapper {
    flex-direction: column;
  }
  .create-template-page .create-template .form {
    padding-right: 0;
  }

  .create-template-page .create-template__select-wrap::after {
    width: 100%;
  }
  .create-template-page .create-template__select-wrap .help-block {
    display: none;
  }

  .create-template-page .create-template__select-wrap .help-popup {
    left: auto;
    right: 0;
  }

  .create-template-page .instructions {
    padding: 30px 0 0 0;
  }
  .create-template-page .instructions__links {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px dotted #C4C4C4;
  }


  .create-template-page .instructions__title-block .help-popup {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width: 576px) {
  .create-template-page .create-template__select-wrap .help-popup {
    max-width: 336px;
    right: auto;
    left: -295px;
    padding: 15px 5px;
  }
  .create-template-page .instructions__title-block .help-popup {
    max-width: 336px;
    padding: 15px 5px;
    left: auto;
    right: -68px;
    transform: translateX(0);
  }
  .create-template-page .create-template__select-wrap .choices__placeholder {
    font-size: 15px;
  }

}
