@media (max-width: 1710px) {
  .deals .deals-table__status {
    margin-left: 40px;
    padding-left: 15px;
    padding-right: 20px;
  }
  .deals .deals-table__cell {
    margin-left: 17px;
  }
}

@media(max-width: 1400px) {

  .deals {
    .deals-table {
      overflow-x: auto;
    }

    .deals-table__row {
      min-width: 1370px;
    }
  }

  .deals__right-sort {
    margin-left: 0;
    align-items: flex-start;
  }

  .deals .top .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .deals .top .search {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .deals .top h1 {
    margin-bottom: 20px;
  }


}

@media(max-width: 1200px) {

  .deals .top .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .deals .top .container {
    flex-direction: column;
  }
  .deals .top .search {
    margin-left: 0;
    justify-content: flex-start;

  }
  .deals .deals-list .container {
    overflow-x: scroll;
  }
}


@media(max-width: 768px) {
  .deals .top .search {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .deals .top .search__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .deals .top .search__btn {
    margin-right: 0;
  }
  .deals .top .search__wrap {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .deals__right-sort {
    flex-direction: column;
    align-items: flex-start;
  }

  .deals .top .case-item__btn {
    margin-left: 0;
    align-self: flex-start;
    margin-top: 15px;
  }


}
