@media(max-width: 1400px) {
  .one-document-page > .container {
    flex-direction: column;
  }

  .one-document-page .aside {
    margin-top: 50px;
  }
}

@media(max-width: 992px) {
  .one-document-page .top h1 {
    font-size: 30px;
  }
  .one-document-page .contract > .container {
    max-width: 100%;
  }
  .one-document-page .contract .long-hide {
    max-width: 330px;
  }
  .one-document-page .modal-contract {
    width: 96%;
  }
}

@media(max-width: 768px) {
  .one-document-page .top .container {
    padding-bottom: 0;
    flex-direction: column;

    h1 {
      margin-bottom: 20px;
    }

  }
  .one-document-page > .container {
    align-items: flex-start;
  }
  .one-document-page .contract .contract__item {
    flex-direction: column;
  }
  .one-document-page .aside {
    width: 100%;
  }
  .one-document-page .aside .contract__item {
    white-space: nowrap;
  }

  .one-document-page .aside .contract__connection {
    overflow-x: scroll;
  }
  .one-document-page .modal-contract {
    padding: 60px 30px 80px;
  }
  .one-document-page .modal-contract h2 {
    font-size: 32px;
  }
}

@media(max-width: 576px) {
  .one-document-page .top h1 {
    font-size: 28px;
  }
  .one-document-page .contract__name {
    padding-right: 0;
  }

  .one-document-page .contract .long-hide {
    max-width: 260px;
  }

  .one-document-page .aside {
    padding: 20px 10px;
  }

  .one-document-page .aside .contract__info .contract__item {
    flex-direction: column;
  }
  .one-document-page .modal-contract {
    padding: 60px 15px 80px;
  }
  .one-document-page .modal-contract h2 {
    font-size: 28px;
  }
}

