@media (max-width: 1480px) {
  .only-templates .table td:nth-child(4) {
    width: 28%;
  }

}

@media (max-width: 1024px) {
  .only-templates .only-templates__title {
    font-size: 32px;
  }
  .only-templates__table-wrap {
    overflow-x: scroll;
  }
  .only-templates .table {
    min-width: 1200px;
  }

}

@media (max-width: 992px) {
  .only-templates__select-flex {
    flex-wrap: wrap;
  }

}

@media (max-width: 768px) {
  .only-templates .only-templates__title {
    font-size: 28px;
  }
  .only-templates .list-doc__row-title {
    flex-direction: column;
    align-items: flex-start;
  }

}

@media (max-width: 578px) {
  .only-templates .only-templates__filter-links {
    flex-direction: column;
  }
  .only-templates .only-templates__link {
   width: max-content ;
  }
  .only-templates .only-templates__select-wrap {
    width: 100%;
    margin-right: 0;
  }
  .only-templates .pagination {
    margin-left: 0;
  }
}
