<div class="modal-counterparty-alert modal" id="counterparty-alert-modal">
  <h2>Добавить нового контрагента</h2>
  <p>
    При нажатии на кнопку ниже, Ваша сделка будет автоматически
    сохранена, и Вы перейдете в раздел «Контакты».
  </p>
  <p>
    Создайте контакт (или используйте существующий), сделайте этот контакт
    контрагентом, заполнив все необходимые данные, и
    возвращайтесь
    к редактированию этой сделки.
  </p>
  <p>
    Новый контрагент уже будет доступен для выбора.
  </p>

  <div class="modal-counterparty-alert__btns">
    <a href="../contacts.html" class="modal-counterparty-alert__save-btn">
      Создать контакт
    </a>
    <button type="button" class="modal-counterparty-alert__close-btn">
      Отменить
    </button>
  </div>

</div>
