<div class="modal-delete-employee modal" id="delete-employee-modal">
  <h2>Удалить сотрудника</h2>

  <ul class="modal-delete-employee__list">
    <li>
      <p class="modal-delete-employee__list-sub">Вы действительно хотите удалить
        сотрудника?</p>
      <p class="modal-delete-employee__list-vary modal-delete-employee__name">
        Константинов Константин
        Константинович</p>
    </li>
    <li>
      <p class="modal-delete-employee__list-sub">Должность:</p>
      <p
        class="modal-delete-employee__list-vary modal-delete-employee__position">
        Менеджер организации</p>
    </li>
  </ul>

  <p class="modal-delete-employee__desc">
    Пожалуйста, имейте в виду, что при удалении сотрудник утратит доступ
    к закрытым разделам и отдельным функциям управления сделками.
  </p>

  <form class="modal-delete-employee__form" action="#">
    <div class="modal-delete-employee__btns">
      <button class="modal-delete-employee__save-btn" type="submit">
        Удалить
      </button>
      <button type="button" class="modal-delete-employee__close-btn">
        Отменить
      </button>
    </div>
  </form>

</div>
