<div class="modal-job-change modal" id="job-change-modal">
  <h2>Смена должности</h2>

  <ul class="modal-job-change__list">
    <li>
      <p class="modal-job-change__list-sub">Вы действительно хотите сменить
        должность сотрудника?</p>
      <p class="modal-job-change__list-vary modal-job-change__name">Константинов
        Константин
        Константинович</p>
    </li>
    <li>
      <p class="modal-job-change__list-sub">Актуальная должность:</p>
      <p class="modal-job-change__list-vary modal-job-change__actual-position">
        Менеджер организации</p>
    </li>
    <li>
      <p class="modal-job-change__list-sub">Новая должность:</p>
      <p class="modal-job-change__list-vary modal-job-change__new-position">
        Сотрудник организации</p>
    </li>
  </ul>

  <p class="modal-job-change__desc">
    Пожалуйста, имейте в виду, что при смене должности сотрудник может получить
    или утратить доступ к закрытым разделам и отдельным функциям управления
    сделками.
  </p>

  <form class="modal-job-change__form" action="#">
    <div class="modal-job-change__btns">
      <button class="modal-job-change__save-btn" type="submit">
        Изменить должность
      </button>
      <button type="button" class="modal-job-change__close-btn">
        Отменить
      </button>
    </div>
  </form>

</div>
