<div class="modal-join-director modal" id="join-director-modal">
  <h2>Подключить руководителя</h2>
  <p>Для того, чтобы подключить физическое лицо, уже добавленное в Ваши
    контакты,
    в качестве руководителя этой организации, введите его фамилию и
    выберите подходящий контакт.</p>
  <div class="modal-join-director__input-wrapper">

    <div class="create-deal-page__input-wrapper select-input-wrapper">
      <input name="id_leader_search"
             class="select-popup-data"
             type="hidden">
      <input class="modal-join-director__input select-popup-input" type="text"
             name="leader_search"
             placeholder="Начните вводить фамилию">
      @include('select-popup.html', {
      'submit-script': './data/getCases.txt',
      'add-data':'{"idItem":3,"paramname":"test"}'
      })
    </div>


  </div>
  <button class="modal-join-director__btn modal-join-director__connect-btn"
          type="button">Подключить
    руководителя
  </button>
  <p>Если этого физического лица еще нет в Ваших контактах, введите фамилию, имя
    и отчество вручную.</p>
  <form action="./data/getCases.txt" class="modal-join-director__wrap">
    <div class="modal-fullname__item fullname-nominative">
      <h3 class="modal-fullname__form-title">Именительный
        падеж</h3>
      <ul class="modal-fullname__input-list">
        <li class="modal-fullname__item-input">
          <p class="modal-fullname__input-title">Фамилия</p>
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="surname"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$" required>
            <label class="modal-fullname__label">Иванов /
              Иванова</label>
          </div>
        </li>
        <li class="modal-fullname__item-input">
          <p class="modal-fullname__input-title">Имя</p>
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="firstname"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$" required>
            <label class="modal-fullname__label">Иван /
              Мария</label>
          </div>
        </li>
        <li class="modal-fullname__item-input">
          <p class="modal-fullname__input-title">Отчество</p>
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="fathname"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$" required>
            <label class="modal-fullname__label">Иванович /
              Ивановна</label>
          </div>
        </li>
      </ul>
      <p class="error-message">Допускаются только символы
        кириллического и
        латинского алфавита</p>
    </div>
    <div class="modal-fullname__item fullname-genitive">
      <h3 class="modal-fullname__form-title">Родительный
        падеж</h3>
      <ul class="modal-fullname__input-list">
        <li class="modal-fullname__item-input">
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="surname_rod"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$">
            <label class="modal-fullname__label">Иванова /
              Ивановой</label>
          </div>
        </li>
        <li class="modal-fullname__item-input">
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text"
                   name="firstname_rod" pattern="^[а-яА-ЯёЁa-zA-Z]+$">
            <label class="modal-fullname__label">Ивана /
              Марии</label>
          </div>
        </li>
        <li class="modal-fullname__item-input">
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="fathname_rod"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$">
            <label class="modal-fullname__label">Ивановича /
              Ивановны</label>
          </div>
        </li>
      </ul>
      <p class="error-message">Допускаются только символы
        кириллического и
        латинского алфавита</p>
    </div>
    <div class="modal-fullname__item fullname-dative">
      <h3 class="modal-fullname__form-title">Дательный падеж</h3>
      <ul class="modal-fullname__input-list">
        <li class="modal-fullname__item-input">
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="surname_dat"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$">
            <label class="modal-fullname__label">Иванову /
              Ивановой</label>
          </div>
        </li>
        <li class="modal-fullname__item-input">
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text"
                   name="firstname_dat" pattern="^[а-яА-ЯёЁa-zA-Z]+$">
            <label class="modal-fullname__label">Ивану /
              Марии</label>
          </div>
        </li>
        <li class="modal-fullname__item-input">
          <div class="modal-fullname__input-wrapper">
            <input class="modal-fullname__input" type="text" name="fathname_dat"
                   pattern="^[а-яА-ЯёЁa-zA-Z]+$">
            <label class="modal-fullname__label">Ивановичу /
              Ивановне</label>
          </div>
        </li>
      </ul>
      <p class="error-message">Допускаются только символы
        кириллического и
        латинского алфавита</p>
    </div>
    <div class="modal-fullname__btns">
      <button class="modal-fullname__save-btn" type="submit">
        Сохранить данные руководителя
      </button>
    </div>
  </form>

</div>
