<div class="modal-new-employee modal" id="new-employee-modal">
  <h2>Новый сотрудник</h2>
  <p class="modal-new-employee__desc">
    Введите адрес электронной почты или фамилию сотрудника. Если пользователь
    уже зарегистрирован — Вы сможете отправить ему приглашение.
  </p>
  <p class="modal-new-employee__desc">
    Если сотрудник еще не зарегистрирован на портале, попросите его
    предварительно пройти регистрацию.
  </p>
  <form class="modal-new-employee__form" action="#">
    <ul class="modal-new-employee__input-list">
      <li class="modal-new-employee__item-input">
        <div class="modal-new-employee__input-wrapper select-input-wrapper">
          <input name="id_employee_email"
                 class="modal-new-employee__data-input select-popup-data"
                 type="hidden">
          <input class="modal-new-employee__input select-popup-input"
                 type="email"
                 name="employee_email"
                 placeholder="Начните вводить адрес электронной почты...">
          @include('select-popup.html', {
          'submit-script': 'test.txt',
          'add-data':'{"idItem":3,"paramname":"test"}'
          })
        </div>
      </li>
      <li class="modal-new-employee__item-input">
        <p class="modal-new-employee__input-title">или</p>
        <div class="modal-new-employee__input-wrapper select-input-wrapper">
          <input name="id_employee_surname"
                 class="modal-new-employee__data-input select-popup-data"
                 type="hidden">
          <input class="modal-new-employee__input select-popup-input"
                 type="text"
                 name="employee_surname"
                 placeholder="Начните вводить фамилию...">
          @include('select-popup.html', {
          'submit-script': 'test.txt',
          'add-data':'{"idItem":3,"paramname":"test"}'
          })
        </div>
      </li>
    </ul>

    <div class="modal-new-employee__btns">
      <button class="modal-new-employee__save-btn" type="submit">
        Выслать приглашение
      </button>
      <button type="button" class="modal-new-employee__close-btn">
        Отменить
      </button>
    </div>
  </form>
</div>
