html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include montserrat-regular;
  color: $dark;

  font-size: 16px;
  line-height: 20px;
  position: relative;

  &._lock {
    overflow-y: hidden;
  }
}

main {
  min-height: calc(100vh - 60px);

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  padding: 0;

  svg {
    pointer-events: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}

.hidden-text {
  opacity: 0;
  pointer-events: none;
}

.site-container {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: -1;

  &_active {
    z-index: 998;
    visibility: visible;
  }
}

.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.modal-indent {
  padding-bottom: 500px;
}

.edit-btn {
  cursor: pointer;
}

.edit-btn:hover path {
  fill: $link;
}


.copy-btn {
  display: inline;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover path {
    fill: $link;
  }
}

.copy-value ~ span {
  position: relative;
}

.edit-wrapper {
  width: 100%;
  position: absolute;
  left: -5px;
  top: 28px;
  visibility: hidden;
  opacity: 0;

  .edit-input {
    @include montserrat-medium;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: #222220;
    outline: 1px solid #D8D8D8;
    padding: 5px 5px 5px 7px;
    width: 100%;

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }
  }

  &._active {
    visibility: visible;
    z-index: 50;
    opacity: 1;
  }

  .agree-btn,
  .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    path {
      transition: all .3s;
    }

    &:hover path {
      fill: #2F65F6;
    }
  }

  .agree-btn {
    right: -30px;
  }

  .close-btn {
    right: -50px;
  }
}


.input_disabled {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 19px;
    background: url("../img/lock-icon.svg") no-repeat;
    right: 25px;
    top: 45px;
    @media (max-width: 400px) {
      top: 50px;
    }
  }


  input {
    background: #F2F1F7 !important;
    color: #BFBDC7 !important;

    &::placeholder {
      color: #BFBDC7 !important;
    }
  }

}

.btn_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.edit-doc-wrapper__input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;

  &._active {
    visibility: visible;
    z-index: 50;
    opacity: 1;
  }

  input {
    @include montserrat-medium;
    font-size: 22px;
    line-height: 27px;
    color: #222220;
    outline: 1px solid #D8D8D8;
    border: none;
    z-index: 9999;
    padding: 5px 10px;
    width: 280px;
    @media (max-width: 1280px) {
      width: 240px;
    }

    @media (max-width: 768px) {
      width: 200px;
    }

    &:focus {
      outline: 1px solid #3E29CA;
      background-color: #ffffff;
    }
  }

  .agree-btn,
  .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    path {
      transition: all .3s;
    }

    &:hover path {
      fill: #2F65F6;
    }
  }

  .agree-btn {
    right: -30px;
  }

  .close-btn {
    right: -50px;
  }
}

.edit-el {
  position: relative;
}

// стили для флекс-таблиц

.flex-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__row {
    display: flex;
    padding: 23px 25px;
  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    color: #222220;

    &:not(:last-child) {
      padding-right: 20px;
    }
  }

  &__cell-title {
    @include montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    color: #858584;
    margin-bottom: 7px;
  }

  &__cell-text {
    @include montserrat-regular;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  &__cell-link {
    color: #2F65F6;
    display: inline-block;
    margin-bottom: 7px;
  }

  &__cell-link ~ &__cell-title {
    margin-bottom: 0;
  }

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.dz-details,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-message {
  button {
    padding: 0;
  }
}

.dz-remove {
  line-height: 0;
  font-size: 0;
}

.dz-preview:not(.dz-preview.dz-processing) {
  display: none;
}


.choices__list--dropdown .choices__placeholder {
  display: none;
}


.air-datepicker-body--day-name {
  color: #817D8C;
  @include montserrat-medium;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}

.air-datepicker-cell.-day- {
  @include montserrat-medium;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.air-datepicker-global-container {
  z-index: 9999;
}

.date-custom-container {
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
}

.nothing-found-block {
  max-width: 420px;
  padding: 15px 0;

  p {
    @include montserrat-regular;
    font-size: 16px;
    color: #3E3E3D;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

//отступ в выпадающих списках
@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }
}

.warning-title {
  @include montserrat-semibold;
  font-size: 16px;
  line-height: 22px;
  color: #BC0D48;
  padding: 15px 0;
}

.imask-wrapper {
  padding-right: 8px;
  position: relative;

  &::after {
    content: '₽';
    position: absolute;
    right: -3px;
    top: 1px;
  }
}

.text-ar {
  text-align: right;
}

.currency-mask {
  border: none;
  color: black;
  width: 100%;
  display: inline;
  background: none;
  line-height: 20px;
}

.currency-mask-text {
  position: relative;

  &::after {
    content: '₽';
    position: absolute;
    right: -15px;
    top: 0;
  }
}

.number-mask {
  text-align: left !important;
}

.close-modal-btn {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  right: 19px;
  top: 18px;

  svg {
    pointer-events: none;
  }

  path {
    transition: all .3s;
  }

  &:hover {
    path {
      fill: $link;
    }
  }
}
