@import "fonts";
@import "vars";
@import "settings";

// Страницы
@import "./pages/info";
@import "./pages/documents";
@import "./pages/organizations";
@import "./pages/contacts";
@import "./pages/edit-contact";
@import "./pages/new-organization";
@import "./pages/services";
@import "./pages/journal";
@import "./pages/cases";
@import "./pages/create-case";
@import "./pages/case-item";
@import "./pages/deal-card";
@import "./pages/create-deal";
@import "./pages/deal-story";
@import "./pages/deal-documents";
@import "./pages/deals";
@import "./pages/deal-balance";
@import "./pages/payments";
@import "./pages/organization-info";
@import "./pages/employees";
@import "./pages/organization-journal";
@import "./pages/income";
@import "./pages/income-list-page";
@import "./pages/correspondence";
@import "./pages/correspondence-item";
@import "./pages/correspondence-outside";
@import "./pages/income-traffic";
@import "./pages/contact-card";
@import "./pages/all-documents";
@import "./pages/individual-card";
@import "./pages/only-documents";
@import "./pages/only-templates";
@import "./pages/one-document";
@import "./pages/create-document";
@import "./pages/create-template";
@import "./pages/template-item-page";
@import "./pages/test";
@import "./pages/not-access";
@import "./pages/templater-tags";
@import "./pages/signing-document";
@import "./pages/signing-document-multistage";
@import "./pages/close-deals";
@import "./pages/one-score";
@import "./pages/one-act";
@import "./pages/subscribe-document";
@import "./pages/subscribe-document-alternately";

// Компоненты
@import "./components/modals";
@import "media/media-info";
@import "media/media-documents";
@import "media/media-organizations";
@import "media/media-contacts";
@import "media/media-edit-contact";
@import "media/media-new-organization";
@import "media/media-services";
@import "media/media-journal";
@import "media/media-cases";
@import "media/media-case-item";
@import "media/media-create-case";
@import "media/media-deal-card";
@import "media/media-create-deal";
@import "media/media-deal-document";
@import "media/media-deal-story";
@import "media/media-deals";
@import "media/media-deal-balance";
@import "media/media-payments";
@import "media/media-organization-info";
@import "media/media-employees";
@import "media/media-organization-journal";
@import "media/media-income";
@import "media/media-income-list-page";
@import "media/media-correspondence";
@import "media/media-correspondence-item";
@import "media/media-correspondence-outside";
@import "media/media-income-traffic";
@import "media/media-contact-card";
@import "media/media-all-documents";
@import "media/media-individual-card";
@import "media/media-only-documents";
@import "media/media-only-templates";
@import "media/media-create-document";
@import "media/media-one-document";
@import "media/media-template-item-page";
@import "media/media-create-template";
@import "media/media-templater-tags";
@import "media/media-signing-document";
@import "media/media-signing-document-multistage";
@import "media/media-closed-deals";
@import "media/media-one-score";
@import "media/media-one-act";
@import "media/media-subscribe-document";
@import "media/media-subscribe-document-alternately";

@import "./components/header";
@import "./components/footer";
@import "./components/loader";
@import "./components/info-modal";
@import "./components/pagination";
@import "./components/deal-submenu";
@import "./components/organization-item-submenu";
@import "./components/edit-invoice-modal";
@import "./components/edit-card-modal";
@import "./components/new-employee-modal";
@import "./components/job-change-modal";
@import "./components/delete-employee-modal";
@import "./components/select-popup";
@import "./components/big-img-modal";
@import "./components/join-director-modal";
@import "./components/create-letter-modal";
@import "./components/counterparty-alert-modal";
@import "./components/contact-card-submenu";
@import "./components/individual-card-submenu";
@import "./components/deal-create-alert";
@import "./components/copy-case-modal";
@import "./components/general-dropzone";
@import "./components/not-access-modal";
@import "./components/add-payment-modal";
@import "./components/used-template-modal";
@import "./components/date-signing-modal";
@import "./components/document-preview-modal";
@import "./components/document-send-modal";
@import "./components/document-sign-modal";
@import "./components/change-employee-modal";
@import "./components/check-confirm-modal";
@import "./components/open-deal-modal";
@import "./components/closed-deal-modal";
@import "./components/choice-case-modal";
@import "./components/radio-list";
@import "./components/deal-selection-modal";
@import "./components/doc-template-modal";
@import "./components/doc-download-modal";
@import "./components/reject-signing-modal";
@import "./components/main-sort";
@import "./components/custom-mult-select";
@import "./components/alt-select";


